[2017-08-31 22:12] rsanchez-wsu opened #1 "Remove dead store of cwExtensions in Model.HubFile"
FindBugs has detected a dead store of the variable cwExtensions in Model.HubFile (at line 565).  The variable does not get used, so it needs to be removed.

[2017-08-31 22:20] #1 closed

[2017-09-05 19:36] rsanchez-wsu opened #3 "Project/fork rename: PearPlanner -> RaiderPlanner"
The upstream project from which this project was forked is called _PearPlanner_.  For the purposes of the project as developed under this fork, the name will be _RaiderPlanner_.  There are numerous occurrences of the string "PearPlanner" in the code base which need to be replaced with "RaiderPlanner".

It is necessary take care when changing the references to account for variable names, paths, or

[2017-09-05 19:41] rsanchez-wsu opened #4 "Fix source and test package structure"
The Java source files and additional resource files contained under the `src` and `Test` directories use a package structure which does not conform to Java conventions and best practices.  The existing packages need to be renamed to use names with all lowercase letters (e.g., `Model` -> `model`) and all of the current top-level packages need to be placed in a package hierarchy under the package `e

[2017-09-05 19:46] rsanchez-wsu opened #5 "Update application look and feel"
Related to #3, it is also necessary to update the application look and feel to be consistent with the _RaiderPlanner_ moniker.  Items to change include the program icon (currently an image of a pear, as the application was formerly named _PearPlanner_) and default color scheme.  Prior to beginning work on this, please review the project repository and identify if there are other items which should

[2017-09-05 19:51] rsanchez-wsu opened #6 "Change build system from Ant to Gradle"
The current Ant build system does not meet our requirements and so the project build needs to be transitioned to a build based on Gradle.  The Gradle wrapper should be used within the project (instead of depending on the developer to install Gradle as a separate tool in their environment).  For the purposes of this issue, the objective should be to preserve the existing capabilities of the Ant bui

[2017-09-05 19:55] rsanchez-wsu opened #7 "Switch from in situ dependencies to Gradle-based dependencies"
The current approach of having all project dependencies (i.e., jar files) located in the `lib` directory within the repository is sub-optimal.  The `lib` directory and its contents need to be removed from the project and the project dependencies instead expressed via Gradle's dependency resolution mechanism.  The initial effort should preserve all of the existing dependencies at their current revi

[2017-09-05 20:00] rsanchez-wsu opened #8 "Implement CheckStyle and FindBugs during project build"
In order to improve and maintain the quality of the project code, it is necessary to have CheckStyle and FindBugs run during the project build.  Any warnings or errors should result in a failed build.  Gradle has both CheckStyle and FindBugs available as plugins, which should be used to implement the necessary build steps.

Please note that the project repository already contains a `.checkstyle.xm

[2017-09-05 20:01] rsanchez-wsu opened #9 "Clean up CheckStyle and FindBugs issues"
Following the implementation of #8 it is necessary to clean up all of the CheckStyle violations and FindBugs warnings/errors throughout the build.

Once CheckStyle and FindBugs are implemented as part of the normal build sequence, the number and severity of findings need to be assessed to determine whether they can be fixed within the scope of a single issue, or whether additional issues need to b

[2017-09-05 20:09] rsanchez-wsu opened #10 "Dependency license compatibility audit"
It is necessary to ensure that the licenses of all project dependencies are compatible with the license of the project itself (i.e., GPLv3).  The work required by this issue is to inventory the project dependencies, identify the license of each (including the source of authority for that license applying to the dependency), and then assess its compatibility with the project's GPLv3 license.

[2017-09-05 20:16] rsanchez-wsu opened #11 "Create a project website in GitHub pages"
The _RaiderPlanner_ project requires a marketing presence (website).  Minimum items to include are:

- An "About" page describing the project
- Information for potential users on how to obtain, install, and use the application
- Information for potential developers on how to contribute to development

There are certainly more things which would make sense for the website.  They should be discussed

[2017-09-05 20:20] LoganRickert commented on #11
Do you have an idea about where you want the files to be?

I think you can have the files either in a separate branch or in a given directory name.

[2017-09-05 20:21] rsanchez-wsu opened #12 "Replace the binary .dat application state file with something better"
The application currently stores its state in a file called `StudyPlanner.dat`.  This file contains serialized representations of various objects used by the application from one invocation to the next.  This needs to be replaced by a data access layer that uses JDBC to store and retrieve the necessary object states.  The default supported JDBC implementation will be Apache Derby, with the possibi

[2017-09-05 20:28] rsanchez-wsu opened #13 "Produce a single application executable"
The project build should produce a single executable jar, which can be wrapped in an appropriate shell wrapper (for Linux and Unix) or an .exe wrapper (for Windows).

- [ ] Have the build create a single executable jar which also contains all project runtime dependencies (i.e., can be run with the shell command `java -jar RadierPlanner.jar`)
- [ ] Have the build create a shell wrapper for the exec

[2017-09-05 20:36] rsanchez-wsu opened #14 "Implement an application preferences framework"
Currently, the application has no way for the user to specify preferences.  The application requires a preferences framework.  Initially, there will be only preference setting: whether the main application menu should recede only when it is clicked/tapped a second time, or whenever it loses the focus.

Because of the potential for introducing unnecessary complexity, care should be taken to conside

[2017-09-05 20:39] rsanchez-wsu opened #15 "Consider the utility of and viability of a context menu"
The application currently does not have a context menu (i.e., right-click menu).  It would be useful to consider whether such a feature could improve the usability of the application by giving the user access to certain frequently used actions.  This particular issue requires considerable discussion to develop a consensus on the appropriate scope and particulars of is to be implemented.  The discu

[2017-09-05 20:42] rsanchez-wsu opened #16 "Make the UI themable"
The current application UI is static, in that the user cannot change the colors, icons, or other cosmetic features of the interface.  The application needs to be modified to allow for the user to either select from a list of canned themes or to customize individual UI elements.  This particular issue requires considerable discussion to develop a consensus on the appropriate scope and particulars o

[2017-09-05 20:45] rsanchez-wsu opened #17 "Implement support for additional databases"
This issue is a placeholder so that once #12 is completed, we can revisit the topic of which databases to support and to what extent.  This description will be updated once that discussion has concluded.

[2017-09-05 20:49] rsanchez-wsu opened #18 "Improve robustness of unit test suite"
The applications unit test suite needs to be improved.  This issue will serve as the clearing house for other issue which will be created to address individual items as they are identified.  The discussion here should begin with a thorough review of the existing unit test suite coverage and capability, along with an assessment of how to begin improving the existing tests and what new tests may nee

[2017-09-05 20:52] rsanchez-wsu opened #19 "Implement a peer-to-peer chat capability"
The application should support the discovery of other instances of the application on the network.  The discover process could include advertising its own state along with querying the state of other instances.  The objective would be to support chatting and collaboration between students with compatible academic interests (as defined by the classes active in their instance, for example).  This id

[2017-09-05 20:53] rsanchez-wsu commented on #11
I am not sure about that.  I will probably prefer a directory, but I need to look at the GitHub pages documentation to find out the details and ramifications.  I will follow up once I have been able to review that.

[2017-09-05 21:58] rnunez95 commented on #3
Looks like one I can tackle.

[2017-09-05 21:59] aar118 commented on #13
I'm going to be working on this one!

[2017-09-05 21:59] randymusser commented on #10
I'll start working on this issue.

[2017-09-05 22:00] NathanS1 commented on #5
Hey, I'll start looking into this

[2017-09-05 22:02] Shree9 commented on #4
Hi,

I will take care of this issue.

-Shree

[2017-09-05 22:04] Miller189 commented on #6
I'd like to work on this one

[2017-09-05 22:21] klemmert commented on #11
Hi, I am interested in this issue! My thought process about how I would want to organize this issue would be:

-main page displaying perhaps a picture or something where users can see what the application/planner looks like for a user as well have icons or a navigation bar that will send people to where they need to go (directions, about, etc)
-a link on the navigation bar or icon where users can

[2017-09-05 22:24] lakerimff commented on #11
I'm interested in this item, would have to figure out to what depth the we describe the use of the application, especially as we're adding and changing functions. Obviously screen shots and simplified directions can help.

[2017-09-05 23:20] markr11 commented on #16
I'll work on this issue

[2017-09-06 00:53] rsanchez-wsu commented on #4
@Shree9 You will want to look into Eclipse's (or your IDE's) refactoring capabilities in order to make this change.  If you try to do it all by hand it will take a very long time and you are likely to miss something important.

[2017-09-06 00:57] rsanchez-wsu commented on #10
@randymusser I think that the best way to capture this information would be to place it in a wiki page.  A tabular format is what immediately springs to mind as a way to organize the information, but feel free to propose something else as you begin your research.  Also, make sure that you evaluate the versions of the dependencies that we currently have in the project (as opposed to whatever happen

[2017-09-06 01:03] aar118 commented on #13
@rsanchez-wsu So after wrapping the .jar file into a shell file it shows that I have 167, 364 additions in it. I was wondering if something like that was correct before submitting a pull request.

I was also wondering how the wrapping works. I'm assuming that a file is placed inside the .jar file with the Main class location, but if that's changed I'm not sure if that gets automatically fixed. Pos

[2017-09-06 01:05] rsanchez-wsu commented on #11
@LoganRickert After reviewing the GitHub pages documentation, I would like to use the `/docs` folder.  That will also allows the possibility later to generate website content as part of the build.

@klemmert Those ideas all sound very good.  Feel free to begin working on the site even though, as you pointed out, things will likely change rather quickly.  I believe that you should be able to add a

[2017-09-06 01:11] rsanchez-wsu commented on #13
@aar118 I think that you have misunderstood the intent of this task.  You have committed a .exe, a .jar, and a .sh into the repository, which is not correct.  The build currently only creates a collection of `.class` files.  What needs to happen is that the build (i.e., when you run `ant all`, or when you run gradle later on when that transition is complete) needs to also output an executable jar,

[2017-09-06 11:37] rsanchez-wsu opened #20 "Enable more robust compile-time error/warning and lint checks"
Current build uses rather permissive compiler settings.  The options `-Xlint:all -Werror` need to be added to the `javac` invocation and the resulting build errors need to be resolved.

[2017-09-06 13:14] rsanchez-wsu opened #21 "Fix the 'ant test' target"
The build is currently broken because there is a problem with the `ant test` invocation.  The junit invocation needs to be fixed so that the unit tests will run and the build will succeed.

[2017-09-06 13:29] Miller189 commented on #6
@rsanchez-wsu I know you designed these modules for teams but it seems like everyone's kind of claiming an issue for themselves.  Is this a project that I should try to rally one or two other students to collaborate with from the start? From the look of it, it's going to take me a while to parse all the code by myself and get a sense of the scope of the problem. Additionally, it looks like decisio

[2017-09-06 13:38] RandyForte commented on #6
If you are looking for someone to collaborate with on this I would be happy to help.

[2017-09-06 14:13] Miller189 commented on #6
@RandyForte That'd be great!

[2017-09-06 14:17] rsanchez-wsu commented on #6
@Miller189 You have hit the nail on the head.  I expect that this will be a rather substantial task and you are correct in your assessment that decisions made as part of this task will have effects throughout the rest of the project.  I expect that a team of 3-4 might make sense, but I will leave it to you to decide.

[2017-09-06 14:20] RandyForte commented on #6
@Miller189 Awesome feel free to message me on slack I'm forte.

[2017-09-07 00:02] LoganRickert opened #22 "Outline For A Peer-to-Peer Chat Proposal"
## Overview

The goal of this issue is to outline a possible outline for a peer-to-peer chat. This will not include any Graphical User Interfacing aspects.

## Background

Before starting, I thought it might be a good idea to *quickly* give a brief background to items discussed later on. Please note that they may not be 100% accurate. I am not an expert lol.

### Client-Server Networking Model

Th

[2017-09-07 15:24] rsanchez-wsu opened #23 "Add 'run' target to build.xml"
Currently, in order to execute the _RadierPlanner_ application it is necessary to build the application by first invoking `ant all` and then by invoking Java directly from the command-line, including manually setting the classpath.  To make invoking the application easier for the development team, `build.xml` needs a new `run` target which will handle properly setting the classpath and then launch

[2017-09-07 15:25] rsanchez-wsu commented on #6
Note that issue #23 calls for adding a new capability to the current `build.xml`.  It should be considered part of what is required with the transition to Gradle.  That is, there should be a similar capability in the implemented Gradle build scripts to run/launch the application.

[2017-09-07 21:15] ribar3 commented on #15
I would be interested in discussing this.

[2017-09-07 22:33] Shree9 commented on #4
Hi,

Unfortunately, I have to drop this class. So, I will not be able to continue working on this issue. Sorry.

-Shree

[2017-09-07 23:20] aar118 commented on #23
I'm currently working on this.

[2017-09-08 01:15] rsanchez-wsu commented on #15
@ribar3 I encourage you to watch the YoutTube video (I posted the link in Slack) and then experiment with the application yourself to see if anything immediately strikes you as a good candidate for a context menu.  If you try it out and it seems like we would be better off without a context menu, then that would be good to know as well.

[2017-09-08 02:09] rsanchez-wsu opened #24 "Fix email address validation (the current implementation makes my eyes bleed!)"
The current approach to email address validation makes my eyes bleed, and I say this as a self-proclaimed regular expression aficionado.

Completion of this issue requires the following:

- [ ] Read this article: https://www.linkedin.com/pulse/name-email-validation-you-doing-wrong-roberto-c-sánchez (yes, I am the author of that article, and you also need to read the articles linked directly from t

[2017-09-08 04:16] eSweetTech commented on #24
I'll read up on and work on this issue

[2017-09-08 16:02] ribar3 commented on #15
Thanks Roberto, I'll check it out!

[2017-09-08 16:10] ribar3 commented on #11
I would be very interested in assisting with this. For what it's worth, when I took Web Dev II here in the spring earlier this year, we had a group of 4 create a website for our final project, and that worked out very well. However, if you think that 3 would be too many for this, that's no problem. @rsanchez-wsu

[2017-09-08 19:18] crayseahorse commented on #22
I would like to start "working" on this, or at least start a dialog moving towards implementation.

[2017-09-08 23:36] barrett-matthew commented on #6
@RandyForte and @Miller189

We talked briefly after class yesterday about collaborating on this issue. If you're still looking for a third person, let me know and we can start hammering this out.

[2017-09-09 00:28] rsanchez-wsu commented on #11
@ribar3 I will leave team organization up to the individuals working on the issues.  I suspect that there is enough room to keep lots of folks busy working on aspects of the website.

[2017-09-09 00:34] #23 closed

[2017-09-09 01:40] Bhulbert2096 commented on #6
If you guys are still looking for a fourth person to work on this issue I would love to join. Feel free to message me on slack. @Miller189  and @RandyForte  and @barrett-matthew

[2017-09-09 13:39] rsanchez-wsu opened #26 "Support deployment/installation on mobile platforms"
The application currently supports deployment/installation in a desktop environment.  This issue is meant to drive the discussion and development associated with making the application suitable for deployment on mobile platforms.  As specific features, changes, and improvements are identified, they will be captured in sub-issues of this for implementation.

[2017-09-09 13:40] rsanchez-wsu opened #27 "Support deployment/installation in a web-based environment"
The application currently supports deployment/installation in a desktop environment.  This issue is meant to drive the discussion and development associated with making the application suitable for deployment in a web-based environment (e.g., as a web service and/or as a website which users can log into instead of using the desktop/mobile versions of the application).  As specific features, change

[2017-09-09 18:55] Miller189 opened #28 "Change Icon to Raiders Logo"
The pear icon looks great, but is not really appropriate for our branch of this project.  We should replace the icon with something a little more "Raider-y".

[2017-09-09 18:57] eSweetTech commented on #28
Isn't this already part of #5?

[2017-09-09 19:29] rsanchez-wsu commented on #28
As @eSweetTech pointed out, this is already covered in #5.  I am going to close this is a duplicate, since the icon itself probably doesn't need to be handled in its own issue.

[2017-09-09 19:29] #28 closed

[2017-09-09 20:20] Miller189 commented on #28
Whoops

[2017-09-09 20:57] rsanchez-wsu commented on #28
@Miller189 No worries.  It happens.  Better to close a dupe than to miss something entirely because the issue never got written.

[2017-09-10 18:57] NathanS1 opened #29 "Change the overall content theme from Harry Potter. #29"
Currently, the application is Harry Potter themed. This doesn't fit the Raider Planner style that we are going for. I suggests changing all of the school classes, class requirements, teachers names and info, etc... Coursework and teachers could be taken from Wright State curriculum. This could address what it takes to earn a BS or BA in Computer Science or Computer Engineering. Real names of class

[2017-09-10 18:58] LoganRickert commented on #29
I think that we probably shouldn't use real names for teachers.

[2017-09-10 19:52] Alienturnedhuman commented on #29
Hi (member of original PearPlanner team here), just to clear up any misunderstandings regarding this. The xml files are not part of the application - they are tailored study profiles, unique for each student, as different students will have different timetables and project deadlines depending on what they are studying, who their supervisors/tutors are etc... The PearPlanner / RaiderPlanner is then

[2017-09-10 20:49] rsanchez-wsu commented on #29
@NathanS1 Bear in mind that there are two issues already open related to the application theme (#5 and #16).  Consider whether what you have summarized in this issue is already captured in one of those or whether this constitutes a sub-issue of one or both of those.

@Alienturnedhuman Thanks very much for the additional information.  One does not always have the benefit of a project's original aut

[2017-09-10 21:07] eSweetTech opened #30 "Fix Name Validation"
This issue is similar to that of #24, but focuses on the first and last name validation rather than email.

This issue can be changed concurrently with issue #24 or can be changed separately if worked on by a different person or team.

The current first and last name validation only allows capital or lower case letters from A-Z. This control makes a lot of assumptions when it comes to naming crite

[2017-09-11 10:52] Alienturnedhuman commented on #29
@rsanchez-wsu No problem, I'm interested it see where the project ends up!

Just so there is no further ambiguity, the "Harry Potter" stuff is not a 'theme' - in this regard the software is themeless. It is a piece of software that any school or college can generate study planner XML files for. The XML files are released one for each semester, with and corrections/amendments/updates to that semest

[2017-09-11 15:05] Skaterskunk commented on #14
I will work on this.  J. Yancey

[2017-09-12 15:55] Skaterskunk commented on #12
Would this be a big enough issue to split among a team?

[2017-09-12 16:07] rsanchez-wsu commented on #12
@Skaterskunk I suspect that this can be easily separated into two distinct issues, perhaps more.

[2017-09-12 21:51] HRRichter commented on #9
I'll start working on this

[2017-09-13 01:12] Codeyjj commented on #21
I am interested in working on this issue. Is there anything specific I should keep in mind with the transition regarding Gradle. Since that is an issue as well.

[2017-09-13 03:32] Matt2233 opened #31 "Clean/Fix Notifications Check"
Currently there is part of the code that is suppose to check for different notifications (upcoming exams and assignments) and then warn the user in different intervals (one week and then two days prior) of the ones that are coming up. This part of the code is actually still incomplete and is currently commented out. This part of the code can be found in "**StudyPlannerController.java**".

For the

[2017-09-13 12:39] rsanchez-wsu commented on #21
@Codeyjj I don't think that there is anything specific.  I suspect that whatever the problem turns out to be with the 'test' target invocation that the solution will either carry over in the same form to the Gradle implementation or that it will be a very easy direct translation.  It is safe to proceed without too much though toward the Gradle end of things with regards to this task.

[2017-09-13 12:41] rsanchez-wsu commented on #31
@Matt2233 This is very good.  Please document in #14 what settings the user should need to have access to in the application-level preferences and what the sensible defaults should be.  As the idea for this issue fleshes out and the details emerge, we can continue to update #14 to make sure that everything needed for this is properly accounted for.

[2017-09-14 02:07] barrett-matthew opened #32 "Resolve Typecast Safety Warnings"
Related to issue #20

In the current project, there are several problems involving typecasting. For example, in HubFile.java, there is a cast on line 156 which is not validated. While it is probably unlikely that this cast will fail, the large number of these checks that are absent in the project warrants a resolution. The issue can be further broken down as follows.

- [ ] Resolve all cast issues

[2017-09-14 15:15] Bhulbert2096 opened #33 "Fix notifications mark-as-read button"
When you run the program and click in the top right hand corner on the notifications button it drops down notifications. When the mark all as read button is clicked nothing happens. We should solve this problem and then look into updating the notification button similar to pilots.  Such as red when you have new notifications and nothing when there is nothing new.

1)Fix the mark all as read button

[2017-09-14 15:17] Bhulbert2096 opened #34 "Store notifications into a file to improve the project for the future"
A way to improve this could be write the notifications to a file and store them into a database to hold different types of notifications. In the future the project may want to add more than just notifications for exams and homework.  These notifications could be for group projects/studying or tutoring for a class.

3)store the notifications into a file and store the file into a database
4) make th

[2017-09-14 16:21] RandyForte commented on #33
I tested and this works fine for me. The logo is also red when there are new notifications.

[2017-09-14 17:06] aar118 opened #35 "Rework Date Validation"
### The Problem:
The code in Event.java in the directory of src/Model really needs to be fixed up. The regex isn't too bad, but all of the isNumeric(); function calling, true checking, and substringing is completely unnecessary.

### Possible solution:
In Java 2 we learn how to use the SimpleDateFormat class. I think we can use that to get exactly the date format we want, and then use a try-catch

[2017-09-14 17:41] Miller189 opened #36 "Ensuring Referential Integrity"
Issue #12 lays out a path for the application to become database-driven.  After this issue has been completed, we'll need to ensure referential integrity by making primary/foreign keys immutable.

 Audit the classes in the project for setters that involve primary/foreign keys.  For instance, the class Model/Account has a method called setStudentNumber.  The studentNumber variable will likely end u

[2017-09-14 17:52] rsanchez-wsu commented on #33
@Bhulbert2096 @RandyForte You two should try to reach a consensus on what is happening and then what the correct behavior should be and whether it needs to be fixed or changed.

[2017-09-14 17:54] rsanchez-wsu commented on #35
@aar118 This is good.  For the sake of completeness and thoroughness of design, please consider and then document here how the exceptional case should be handled.  That is, if the exception is thrown, what should the application do?

[2017-09-14 19:33] RandyForte commented on #33
Okay when I have new notifications and click the mark as read they are marked as read. Also when I have unread notifactions I am displayed notifaction1.png, when there are no unread notifications I am displayed notifaction0.png. @Bhulbert2096 When are you these features not working for you? Sounds like there might be a bug fix here. If you can help me recreate the bug ill try and help you find it.

[2017-09-14 19:56] Bhulbert2096 commented on #33
@RandyForte I see my mistake. I had assumed that at first running the program I looked and there was 2 things already in the notifications pulldown.  It turns out that those were not actual notifications they dont actually disappear.  I ran what you did randy and I got it to work. It was an oversight on my part and thank you for catching that.

[2017-09-14 20:10] RandyForte opened #37 "Fix the unused notes array list within the Task class"
There is an unused ArrayList of notes in the Task class. It seems like there was going to be a feature for adding notes to tasks but the feature was not implemented.

To me it seems there are two ways to handle this:

1. Remove the notes array list and pretend it never existed.

2.Implement the feature of adding notes to task as well as displaying them as needed. The notes could also be implemente

[2017-09-14 21:08] #33 closed

[2017-09-14 21:13] sarasews commented on #35
I'm going to look into this.

[2017-09-14 21:19] Matt2233 commented on #14
As stated in Issue #31 there might be a benefit from adding in a functioning calendar in the settings so that notifications can be sent in set intervals (whether set by the program or user). This could also help with other user-friendly items such as time stamps for possible future additions such as messaging, updates, etc.

[2017-09-14 21:19] eSweetTech commented on #35
With implementation of #24 we are adding the Apache-Commons Validator 1.6 library to the project, which will allow use of the apache commons library to be used for Date validation. We can definitely use the SimpleDateFormat class, but it'll ultimately be choice of the person improving the implementation. You can look up more info on the  Apache-Commons Validator DataValidator class at https://comm

[2017-09-15 00:41] rsanchez-wsu commented on #35
@eSweetTech That sounds good.  Please make sure that the license of commons-validator is compatible with our project license and make sure to capture the information in a comment to #10 so that @randymusser can include it in the final report/documentation.

[2017-09-15 03:41] AmilaDias opened #38 "Rework getTimeSpent method"
Found in the StudyPlanner file (Model Package) at line 103, I'll let the issue introduce itself.

` public int getTimeSpent(Module module){
        int time = 0;
        for (Assignment assignment : module.getAssignments())
            for (Task task : assignment.getTasks())
                for (Requirement requirement : task.getRequirements())
                    for (Activity activity : requirem

[2017-09-15 03:45] graysondannyn opened #39 "Implement search function on calendar"
Implement search function on the calendar so the student can search for their events. This issue will follow issue #12 after supporting an "events" database.

[2017-09-15 14:30] RachelHill8 opened #40 "Fix window sizing"
I think the application should adapt to the window size. I would like the text size and icons to grow and shrink as the window changes. This will remove a lot of blank space when the window is full screen as well as better adapt when it is smaller.

Currently when shrinking the application down so the icons are in one row on the main page there is an overlap with the text "First Year Gryffindor"

[2017-09-15 15:01] Smith-Jake opened #41 "Re-implement nested if statements"
Issue:
There are many instances of if statements that are implemented as nested loops. These nested if statements are logically equivalent to an if-else if statement. If implemented in this way, this can save a few lines of code, as well as reduce the startup time and increase the response time of the program. This will also make the code easier to read and follow.

Goal:
Make the code easier to r

[2017-09-15 15:26] Skaterskunk opened #42 "Schedule Sharing"
Implement the ability to share schedule information over the Peer to Peer function.  This would follow Issue #22 and possibly Issue #17.  We would have to be able to select parts of the database file so no unwanted personal information would get shared with the schedule.

[2017-09-15 16:45] ribar3 commented on #5
@NathanS1 do you mind if I take care of the logo? I'm going to be working on the website.

[2017-09-15 16:51] Matt2233 commented on #41
Do you have any set areas of the code that this is an issue? Like, for example, ln 91:134 in DataController.java has two nested if-statements as well as a nested switch statement. If I'm correct, this is the type of problem(s) you're referring to, right?

So, if you can give a list of places this is an issue (10 or so to start) then someone could just grab this and start working on it now for one

[2017-09-15 17:02] Matt2233 commented on #30
As far as I've come up with when trying to figure out a way to solve this, I think I have a way of fixing the problem with the hyphens, amount of names, and having both a first and last name. However, as far as I can think, to add the accented characters (umlauts, tildes, etc, and etc) and non ASCII symbols/letters you would probably have to create a file or object containing everything so that th

[2017-09-15 17:44] Smith-Jake commented on #41
The two nested if-statements in DataController.java is not exactly what I had in mind, but that could be included in fixing this issue! If it is possible to simply the nested if-statements, while keeping the intended function of that part of code, then go ahead and fix it!

Here are just a few examples in the code that I was referring to in my issue:
VersionControlEntity 116:135
MainController 153

[2017-09-15 17:49] klemmert commented on #11
We have decided the roles that would divy up this issue. I would go ahead and create the main page, a link that will send users to a download page (with instructions on how to download and what is needed to support the download), and I was also style and design the site. The download itself of the project would be temporary as this program is not yet ready, nor executable like we want it to me, bu

[2017-09-15 18:44] Dustmor opened #43 "Add a small calendar for the current day view to the Dashboard."
The dashboard is a bit barren at the moment, implementing a small calendar to the dashboard that shows events and assignments happening/due that day will make it feel more useful and add quick view capability.

[2017-09-15 18:53] Aashishkebab opened #44 "Fix content overlap on Window resize"
When resizing the JavaFX window to a relatively small size, the content overlaps. Images will be displayed over text, etc. We can modify the CSS stylesheet to fix this issue, or we can set a minimum window size (though this will create other issues).

[2017-09-15 18:55] #44 closed

[2017-09-15 19:04] Aashishkebab opened #45 "Rearrange menu items and improve legibility"
Remove the hamburger menu for navigation and instead implement them as "tabs" at the bottom of the screen. This prevents the need to wait for the slow and choppy animation of the menu every time we need to change pages.

[2017-09-15 19:04] Aashishkebab commented on #45
I would like to work on this issue if it is approved.

[2017-09-15 19:05] Aashishkebab commented on #44
I closed this because I realized that Rachel's issue was very similar.

[2017-09-15 20:13] Alienturnedhuman commented on #38
Hi, original PearPlanner team member here.

To give you a bit of background on why this is like this:

You are right, this is absolutely a terrible implementation and was only added due to a very particular and unique set of circumstances.

The first is that we only noticed immediately before submitting our coursework that we had neglected to add Time Spent to the user interface, it was something

[2017-09-15 20:30] Alienturnedhuman commented on #41
Hi, original PearPlanner team member here.

While the readability point is up for debate, the changes you propose to the code will likely increase the response time of the program (although in most cases probably by sub milliseconds due to CPU speed)

The reason being is that if your example of

[code]

Versus

[code]

In the first example, condition1 is only ever evaluated once, and condition2 on

[2017-09-15 21:37] Smith-Jake commented on #41
@Alienturnedhuman Thank you for your insight on the issue. I was unsure myself if the JVM would optimize this type of thing. However, if the fact of the matter is that this will result in either zero improvement or even slowing down the program, then I will close this issue.

[2017-09-15 21:38] #41 closed

[2017-09-15 23:33] Fahad-n opened #46 "Import XML Database Optimization"
In order to import databases faster, this issue has to be optimized.
Issue:
Under “controller” package - “DataController.java:231”  – function “static private HubFile processNewHubFile(NodeList nList)” - code "if (n.getNodeType() == Node.ELEMENT_NODE)". This line checks the XML database tags inside the reading of the values between the tags. It exists in so many WHILE loops.
Fix:
This function can

[2017-09-16 01:52] rsanchez-wsu commented on #44
@Aashishkebab When closing an issue as a duplicate, please make sure to add the "duplicate" label and specifically mention the other issue which was been duplicated in the closure message.  That helps keep everything properly connected.

[2017-09-16 01:56] rsanchez-wsu commented on #11
@klemmert @lakerimff @ribar3 those tasks seem sufficient to constitute the Project I assignment.

[2017-09-16 02:01] rsanchez-wsu commented on #30
@Matt2233 I think you should take a step back and consider what "name validation" means in the context of this application.  What is a "name"?  I don't think we need to specifically try to validate each individual character.  We should allow the user to enter whatever name they like.  If we are making a distinction between and given name and surname then it would make sense to require that at leas

[2017-09-16 02:53] rnunez95 opened #47 "Open calendar in same window as application"
The current implementation opens the calendar in a new window rather than using the same window like the other tabs do. It would be suitable to keep the same theme throughout the application, as well as improve overall user experience.
reference #5

[2017-09-16 03:57] nguyenvo8 opened #48 "Redundancy Codes"
**# Description:**
This issue relates to 3 classes in the project which are StudyPLannerController, DataController, and MainController. In the MainController class, the method initialise() is used to load a study planner file. That method will check whether a planner file already exists or not. If the file exists, it will load the data. Otherwise, it will create a new account and assign that accou

[2017-09-16 05:55] klemmert opened #49 "Apply filters to the tasks"
There should be certain tasks filtered on the navigation bar such as upcoming tasks due that day, or starred activities that the user can personally add into to signify importance. This allows for personalization and an easier way to navigate through all the tasks instead of going through each module to find which task needs to be completed that day.
reference #16

[2017-09-16 11:15] rsanchez-wsu commented on #38
Based on the additional comment from @Alienturnedhuman this issue needs to wait for #12 to be addressed/fixed.

[2017-09-16 11:17] rsanchez-wsu commented on #39
@graysondannyn This is an excellent idea, but your issue needs considerably more detail.  If you are not sure about the details, then the best approach is to consider some of the alternatives, summarize them and then begin a discussion on how to proceed.

[2017-09-16 11:22] rsanchez-wsu commented on #40
@RachelHill8 window sizing is something that needs to be considered within the context of the entire UI.  I would be comfortable with this issue driving exploration and discussion of the specific issues (like the one you mention in your initial summary) and some alternative solutions, but we need to expand to considering the entire UI.  Once we have that, then this and other specific design change

[2017-09-16 11:31] rsanchez-wsu commented on #42
@Skaterskunk This is an excellent idea, but this issue summary will require more detail describing the proposed functionality.  I understand that the networking components have not been full fleshed out, but feel free to make some assumptions and use them as a basis to detail what you are proposing.  We can always make adjustments later.

[2017-09-16 11:33] rsanchez-wsu commented on #45
@Aashishkebab I am not convinced that this is a good idea.  The hamburger menu has become somewhat standard as far as UI goes and if we deploy on mobile (as described in #26) or web (as described in #27) then I am not sure that the tabs would work as well.  This issue can remain open for the time being, but I suggest that we wait on doing anything with it.

[2017-09-16 11:41] rsanchez-wsu commented on #46
@Fahad-n I am not convinced that your approach is better.  I suggest that you (or whoever ends up working on this) read Section 11.5 of the _Introduction to Programming Using Java_ book (and perhaps other available resources on XML processing) and then do a performance comparison.  For the comparison you will need to create a sufficiently large XML dataset that you would be able to measure the dif

[2017-09-16 11:42] rsanchez-wsu commented on #47
This also relates to #26 (mobile deployment) and #27 (web deployment).

[2017-09-16 11:44] rsanchez-wsu commented on #48
@nguyenvo8 This is an excellent issue write up.

[2017-09-16 11:46] rsanchez-wsu commented on #49
@klemmert This sounds interesting.  It also sounds like it relates to #43.  Please coordinate with @dustmor to ensure that there is no unnecessary overlap.

[2017-09-16 11:49] rsanchez-wsu commented on #5
@ribar3 , @NathanS1 made the following comment in Slack:

@NathanS1 We don't have Slack set up to send comments back to GitHub, so you need to make sure to respond in the GitHub issue itself or your comment could get lost.

[2017-09-16 17:36] lakerimff opened #50 "Add feature to export calendar contents"
Add a feature to export calendar information (For important due dates / deadlines etc)

Could export to: Outlook; Google Calendar; Phone based calendars
(Such as the WSU's current academic calendar)

As of right now you have to open the RaiderPlanner to view calendar events from within the app. Even with mobile #26  and web-based #27  solutions currently in the issues.
This would add the ability t

[2017-09-16 18:26] cameronroudebush opened #51 "Remove the Deadline class in the package Model"
## **The Problem**
In the current implementation the original developers have created a class called Deadline that only contains 36 lines of code (and 20 of those lines are the license commenting.) In this class all it does is call to the super class which makes it a little bit unnecessary. At one point in time the original developers thought this as well by adding the comment "maybe we can get ri

[2017-09-16 19:27] rkoeller opened #52 "Add Menu Buttons at the Top"
Simple menu buttons such as File, View, Help, etc..., whatever makes since to add as a menu button.
Buttons may be not visible until the user presses the alt key.
May be redundant because of the already implemented hamburger menu and if so then at least add a help button to the hamburger menu that will lead the user to a manual that will describe how to use the application.

[2017-09-16 22:15] markr11 opened #53 "Implement a og out capability"

[2017-09-16 23:45] HRRichter opened #54 "Create Add/Drop classes options"
I think it would be cool to make the program into a sort of Wright State wings program where you could add or drop classes. This would most likely be a multiple step process as you would also have to make a list of preset classes first.
The user should be able to open the menu and go to a Registration and Records tab. Once the Registration and Records tab is opened it transfers them to a new page

[2017-09-17 00:06] ribar3 opened #55 "Print Content Functionality"
Currently there is no way to print out material from the Raider Planner. Adding the ability to print to PDF, .docx, .xlsx, and potentially other formats would be a nice addition to the application. Not only would this give users the ability to save their material on paper, but also give them the ability to backup their data in the application to an external drive or the cloud.

[2017-09-17 00:55] graysondannyn commented on #39
Not 100% on the details but we could use a DBMS like "MYSQL". Things we'll need to do:

1. We'll need to create a connection to a database which will require the database specific implementation of the JDBC driver.

2. Need to download the MySQL JDBC driver which will contain a jar file. We'll have to add the jar file into libraries.

3. Create a database (calendar events) in the MYSQL server.

[2017-09-17 00:56] Eric-Levine opened #56 "Replace old start up prompt with load/new file prompt."
The old start up window which is a notice for the person grading the program is unnecessary. Replace this with a prompt that allows you to load a specific save file, or create a new one. Could include other options such as load most recent, etc. More ideas welcome. This also removes the need to manually delete or move a save file to start a new one.

[2017-09-17 00:56] Eric-Levine commented on #56
I'll work on this myself if that's okay.

[2017-09-17 01:07] randymusser opened #57 "Close notification menu when clicked away from"
The notification menu currently can only be closed by clicking on the notification button. I think the menu should close if you click anywhere else on the planner, given that the menu covers the upper right portion of the page and it is somewhat inconvenient that the notifications when clicked open on the center of the screen, and the only way to close the panel is to click the icon.

[2017-09-17 02:21] Watson1995 opened #58 "Add the ability to remove or adjust Tasks and Activities in StudyPlannerController.java"
I feel there are multiple issues here. First would be the method checkForNotifications is completely commented out. Need to rework the method. Also the StudyPlannerController only gives you the ability to add Task or activities but there is no method to adjust a current task nor is there  a method to remove a task completely.
       I feel the checkForNotifications method should be the primary obj

[2017-09-17 16:26] rsanchez-wsu commented on #34
@Bhulbert2096 Note that this relates to #12 and that we may want to analyze the database requirements as a whole to ensure we cover everything we need.

[2017-09-17 16:42] rsanchez-wsu commented on #50
@lakerimff I think that it makes sense to start with ICS calendar export, and then consider supporting others.

[2017-09-17 16:45] rsanchez-wsu commented on #53
@markr11 This will very much be needed for #27 (deployment in a web based environment) and would likely be considered a good security option for #26 (deployment to mobile).

[2017-09-17 16:49] rsanchez-wsu commented on #55
@ribar3 This is a good idea and something I had not even considered.  I expect that quite a few things will need to be discussed and that sub-issues will be spawned from this to handle the various individual items that will need to be  implemented.

[2017-09-17 16:50] rsanchez-wsu commented on #56
@Eric-Levine This sounds good.

[2017-09-17 16:53] rsanchez-wsu commented on #39
@graysondannyn I think you are jumping to implementation details too quickly.  We will definitely use JDBC and that will allow us to support any compatible DBMS.  My thoughts on that are that we start with Apache Derby and then we would support for other DBMS later.

That said, we first need to determine what the search functionality will do and how it will work.  I recommend that you consider wri

[2017-09-17 16:55] rsanchez-wsu commented on #58
@Watson1995 Please consider describing the end state a little more clearly so that we know when the work is "done".

[2017-09-17 17:48] rsanchez-wsu commented on #52
@rkoeller You describe two different things in this issue and I am not sure that they need to be "either/or".  Perhaps consider how this would relate to a possible context menu, as mentioned in #15, and then split the idea of a menu bar at the top of the window and the help/manual/documentation idea into separate issues.

[2017-09-17 17:53] rsanchez-wsu commented on #57
@randymusser The behavior you describe is an accurate reflection of how the application functions.  However, I am not certain that it is incorrect or that your suggestion is any more correct.  This needs to be researched to identify the current UI/UX best practices and determine if a change needs to be made.

[2017-09-17 18:03] rsanchez-wsu commented on #54
@HRRichter Are you thinking that this would be integrated with WINGS?  Or is the concept different than that?

[2017-09-17 18:53] Alienturnedhuman commented on #51
Original PearPlanner member here.

The reason this class exists as a different class is because we anticipated that Deadlines (for projects etc) may require some unique features to standard Events. In our final implementation, it turned out that we didn't need anything new, however we weren't able to determine that this wouldn't be the case in further developments of the software.

So - in it's pr

[2017-09-18 06:22] #24 closed

[2017-09-18 14:55] Miller189 commented on #21
I'm getting a failure at:

junit.framework.AssertionFailedError
    [junit]     at Model.PersonTest.validEmail(PersonTest.java:283)

 Is this a result of the Issue 24 fix?

[2017-09-18 15:04] rsanchez-wsu commented on #21
@Miller189 It could be.  Can you post the complete error output?

[2017-09-18 15:05] Miller189 commented on #21
Soytenly!

 [junit] Testcase: validEmail(Model.PersonTest):     FAILED
    [junit] null
    [junit] junit.framework.AssertionFailedError
    [junit]     at Model.PersonTest.validEmail(PersonTest.java:283)
    [junit]
    [junit]

BUILD FAILED
C:\Users\DJ\Desktop\school\CEG3120 Sanchez\raiderplanner\build.xml:221: Test Model.PersonTest failed

Total time: 9 seconds

[2017-09-18 16:38] rsanchez-wsu commented on #21
@Miller189 it looks like it could be related, but I cannot tell for sure since the test suite was not working previously.  I recommend you set `haltonerror="no"` temporarily in build.xml so that you can finish your work.  Once you everything working in terms of the 'test' target actually runs all of the unit tests, then switch it back before submitting your pull request.  We will need new issues t

[2017-09-19 04:26] Fahad-n commented on #46
I'm not sure, instead of doing a large XML file. (I'm not sure about my test method), I made a loop that reads test3.xml for 1000 times. With optimized code and non-optimized one and here is the result.

//regular DataController.java code import test3.xml 1000 times
1st:Time taken: 8818 milliseconds
2st:Time taken: 9036 milliseconds
3st:Time taken: 8588 milliseconds
4st:Time taken: 8677 millisecon

[2017-09-19 10:28] rsanchez-wsu commented on #46
@Fahad-n Can you post your test code?

[2017-09-19 19:55] HRRichter commented on #54
I was more on the line of making a mock version of wings just as a placeholder, but we could probably implement wings some how.

[2017-09-19 20:15] cameronroudebush commented on #47
I will look into this one.

[2017-09-19 20:22] Fahad-n commented on #46
sure, sorry for the lateness. I attached the files.

[DataController_Test.zip](https://github.com/rsanchez-wsu/RaiderPlanner/files/1315715/DataController_Test.zip)

[2017-09-19 21:34] Dustmor commented on #43
I'm going to try and implement this.

[2017-09-20 16:06] lakerimff commented on #11
@rsanchez-wsu looking at my fork settings, the /doc option is grayed out, is this something that needs to be added under your fork, or the original maybe to allow us to use this as our GitHub Pages option?

[2017-09-21 00:11] Fahad-n commented on #46
@rsanchez-wsu so what do you think Mr. Roborto?

[2017-09-21 20:30] rsanchez-wsu commented on #11
@lakerimff I will have to push a docs folder so that the setting is enabled.

[2017-09-21 20:38] rsanchez-wsu commented on #46
@Fahad-n Looking at your timing data, your optimization does not appear to gain much, if any, performance.  I am also not certain that it is a good idea to change the code in this way without the benefit of a robust unit test to ensure we don't break something.  Additionally, the XML data is realistically going to be loaded very infrequently, and certainly not 1000 or more times in succession.  Ba

[2017-09-21 20:38] #46 closed

[2017-09-21 21:13] rnunez95 commented on #5
@NathanS1  @ribar3 I updated the icon to something raider related with issue #3 but feel free to change it.

[2017-09-22 12:13] Smith-Jake commented on #37
I will begin working on this issue

[2017-09-22 16:46] ribar3 commented on #5
@rnunez95 thanks for the update - I've got a logo made for the website. Could you please show me the icon?

[2017-09-22 17:21] DTCartier commented on #48
I can take this one.

[2017-09-22 19:52] Aashishkebab commented on #45
Here is a rough overview of what it kind've would look like. The "calendar" button
<img width="742" alt="screenshot_20170922-155002" src="https://user-images.githubusercontent.com/25588487/30761935-139513e4-9fae-11e7-8691-00a83d485205.png">
 needs to be changed into an icon if possible. And we can add an "Add Milestone" button to the bottom right Material Design style.

[2017-09-23 02:43] rsanchez-wsu commented on #45
@Aashishkebab That looks good.  I think I would like to make sure that we think about what other buttons/icons/etc. may belong in the toolbar and then once we have that set we can begin to make changes.  I would also like input from other folks on the project so it is not just the opinions of one or two people.

[2017-09-23 04:54] Aashishkebab commented on #45
Here is what the finished product will mostly look like. I've made changes to the colors to improve legibility, and I've also added ToolTips (not seen in screenshot). Finally, items have been moved around. I have already issued a Pull Request for this, but I thought I'd post it here as well.

<img width="751" alt="screenshot_20170923-005147" src="https://user-images.githubusercontent.com/25588487/

[2017-09-24 15:46] RachelHill8 commented on #40
I have currently been working on parts of this issue and have added a minimum screen width.  I have also added so when you first run the project it will open in full screen.  I personally am a fan of full screen but I want to know if anyone else has any preferences. I haven't committed any changes yet just on my local machine.

The main issue I want to fix is making the modules responsive but I am

[2017-09-24 16:19] Aashishkebab commented on #40
Oddly enough, I think I found it inside the MenuController.java in the View package.

The line begins with "vbox.getChildren().add(badge).
It's line 190 for me but might be different for you.
The code block after that adds the modules to the dashboard I think. Or at least, it definitely adds the "View" buttons to the container that contains the modules.

[2017-09-24 16:22] RachelHill8 commented on #40
Thanks a lot! I've been searching through the code forever and was hoping someone might have seen it. I think it was the badge naming that threw me off.

[2017-09-26 21:02] AmilaDias commented on #50
I am working on implementing this. I am currently devising a method to fold this into the project and make it function

[2017-09-27 13:44] AmilaDias commented on #51
So I was able to remove all references to the deadline class within the PearPlanner/RaiderPlanner program. The only issues am running into currently is that the .DAT file that exists will not run. The program, from what I can see is throwing an invalid class exception, and I'm working to further debug this.

[2017-09-27 17:13] Alienturnedhuman commented on #51
There isn't a fix for that, the DAT file will have Deadline classes in it.

There may be a way to get around it, you would need to write code that casts all of the existing Deadlines as Events, quit  the program, remove the Deadline class and then you should be able to load the DAT file as it should no longer contain any Deadline classes in it.

[2017-09-27 17:14] Alienturnedhuman commented on #51
Note - you will need to roll back to the code containing the original Deadline class in order for this to work.

[2017-09-27 18:09] Bhulbert2096 commented on #19
How would you like the peer-to-peer chat to be. Would you like it to be between just one person to one person? or a group? or both? Also I looked in the issue #22 and saw that there was talk of having the capability to see who is online. I think maybe having that would be second to creating the peer to peer chat because you could treat it just like talking with someone and they will answer when th

[2017-09-27 18:17] AmilaDias commented on #51
@Alienturnedhuman Good thing I only commented things out! I'll work on that and thanks for pointing me in the right direction

[2017-09-27 20:29] Alienturnedhuman commented on #51
You will also need to put the new code in a class that isn't saved in the .dat file - otherwise the classes will be modified and incompatible with those saved.

If you see issue #38 - the class with the nested for loops is one such class that can be modified without affecting the ability to reload the .dat file.

However, it should also be pointed out that the .dat file is not essential for operat

[2017-09-27 23:08] Miller189 commented on #7
Hey I'd like to do this one next if that's cool

[2017-09-28 03:32] rsanchez-wsu commented on #19
@Bhulbert2096 I would say pick one and go with it.  The key is to think the design all the way through and make sure that arbitrary limitations are not introduced without a good reason.

[2017-09-28 04:05] #3 closed

[2017-09-28 04:21] #47 closed

[2017-09-28 11:42] rnunez95 commented on #54
I would like to look into this one for project 2

[2017-09-28 21:05] Bhulbert2096 commented on #19
I am going to look into this for Project 2s submission

[2017-09-29 11:23] AmilaDias commented on #50
I should have a pull request in regards to this issue up later today. I just need to clean up and document my code a little bit. Once the pull request is submitted I will expand this issue to include some possible future enhancements.

[2017-09-29 23:42] DTCartier commented on #32
Looking into this.

[2017-09-30 14:32] #6 closed

[2017-09-30 18:44] #40 closed

[2017-10-01 14:35] graysondannyn commented on #39
Here I have created a use case diagram and description for the calendar event search.

[Calendar Event Search Use Case.pdf](https://github.com/rsanchez-wsu/RaiderPlanner/files/1347198/Calendar.Event.Search.Use.Case.pdf)

<img width="1068" alt="use case diagram--calendar event search" src="https://user-images.githubusercontent.com/22666954/31055645-05dc275a-a694-11e7-80c0-1a337dae6603.png">

[2017-10-01 19:30] rsanchez-wsu commented on #56
This issue was closed by commit 7ee8ece, but the commit message does not indicate that properly, so I am closing it with this comment.  @Eric-Levine note that the correct syntax is "Fixes" or "Closes" and then the issue number.

[2017-10-01 19:30] #56 closed

[2017-10-01 20:38] rsanchez-wsu commented on #48
I just noticed that pull request #70 was from @nguyenvo8 while @DTCartier indicated that he would be working on this.  The two of you need to communicate to determine who will actually make the change.  I will refrain from merging pull request #70 until hear back from both of you about who is going to do what.

[2017-10-01 21:35] DTCartier commented on #48
@nguyenvo8 can have this issue since he have the PR in. I'm finishing up issue #32.

[2017-10-02 01:52] rsanchez-wsu commented on #48
@DTCartier Thanks!

[2017-10-02 02:06] #48 closed

[2017-10-02 04:25] rsanchez-wsu commented on #19
@Bhulbert2096 Before you start real work on this I would like for you to detail here or in #22 the details of what you will be implementing, how it will fit with the application architecture, what the future is for it, etc.

[2017-10-02 04:30] rsanchez-wsu commented on #39
@graysondannyn The use case looks good.  I am curious if you think that this single use case captures everything we need for now, or if additional use cases are needed.

[2017-10-02 04:41] rsanchez-wsu commented on #10
Here is the wiki page: https://github.com/rsanchez-wsu/RaiderPlanner/wiki/Dependency-license-compatibility-audit

@randymusser You should have linked the wiki page here so that we don't lose track.

As far as the libraries with incompatible licenses, those are not used in the manner of creating a derived work, but that of an aggregate work, which is different.  We should talk about this so that we

[2017-10-02 21:07] #45 closed

[2017-10-02 21:45] Bhulbert2096 commented on #19
What I am thinking is the following.
1) When the GUI for RaiderPlanner loads I want to add a function button underneath the sidebar at the very bottom.  It will say something like discussion, chat, or something of the like.
2) When the button is clicked it will load a small GUI. In this GUI it will ask for the users name, host, and port so that way the person can connect using a known port number

[2017-10-03 01:47] rsanchez-wsu opened #80 "Transition from JUnit4 to JUnit5"
JUnit5 was recently released.  In order to remain current and take advantage of the latest features, RaiderPlanner should move from JUnit4 to JUnit5.

[2017-10-03 01:53] rsanchez-wsu commented on #19
I suspect that this will be a rather large task.  You may want to consider breaking it into two parts.  The first part can be the GUI front end and perhaps that part that handles storing the message history to maintain state.  The second part can be the network communication back end.

[2017-10-03 02:16] rsanchez-wsu commented on #10
@randymusser I did a bit of additional digging on this.

First, the testfx-* components, which are under the EUPL, include an "any later version clause": https://github.com/TestFX/TestFX/blob/master/LICENSE.txt

According to the Wikipedia article on the EUPL (https://en.wikipedia.org/wiki/European_Union_Public_Licence) version 1.2 of the EUPL (https://joinup.ec.europa.eu/sites/default/files/ckedit

[2017-10-03 02:35] Bhulbert2096 commented on #19
Yeah I believe it will be. I will definitely split it up thay way then. Should I split it up that way and do 2 seperate pull resquests or make it into 1?

[2017-10-03 22:11] #11 closed

[2017-10-04 05:00] rsanchez-wsu opened #81 "Minor tweaks to website content"
The following tweaks need to be made directly to the website content or in some way related to it:

- `Copyright © RaiderPlanner Contributors 2017` needs to become `Copyright © 2017 RaiderPlanner Contributors`
- The AUTHORS link currently returns a 404 error so the file needs to be linked to the code repository, instead of a link relative to the web content `/docs` directory
- The PHOTO-CREDITS fi

[2017-10-04 05:01] Aashishkebab opened #82 "Make GUI more Material Design"
Make the GUI look nicer, and adhere somewhat to Material Design principles.

1.  Make the hamburger menu float over other elements.
2.  Make the Notifications float over other elements.
3.  Categorize menu buttons.
4.  Make animations more realistic and faster.
5.  Make the hamburger menu occupy the entire height of the window.
6.  Add a "close" icon/button in the hamburger menu, since it now floa

[2017-10-04 05:01] Aashishkebab commented on #82
I am claiming this, as I have already completed above activities.

[2017-10-04 14:20] Bhulbert2096 opened #84 "Peer-to-Peer GUI"
This is a sub issue of #22   This task is only for setting up the GUI for the Peer-to-Peer chat application.  This meaning that it is the skeleton for later issues that will implement the remaining pieces.  The GUI should do the following.
1) Allow the user to create and change his or her username.
2)Send and receive messages.(set the ability to do this.  This portion will not be able to be implem

[2017-10-04 14:21] Bhulbert2096 opened #85 "Creating the Peer-to-Peer chat capabilities(Backend)"
This is the back end part of issue #84  This will be placed into the GUI that has already been created.  If the GUI is not created then start that issue first.  This is because the front end needs to be established first which can then be used to add in the back end pieces.  Here is what the model should look like and contain.
1) Peer-to-Networking.  (taken from issue #22)
Every instance of the pr

[2017-10-04 14:25] Bhulbert2096 opened #86 "Junit test of Peer-to-Peer chat"
This issue is very simple.  After issue #84 and #85 have been created and are working create a Junit test that will test that a message has been sent and received from one client to another.  The goal is for the tests to pass and if they do not pass why did they not pass? is a problem with your assertions or with the issue #84  and #85? If there is an issue look into it or make an issue about it n

[2017-10-04 14:26] Bhulbert2096 commented on #84
I have already began work on this issue and will hopefully have it up and running soon.

[2017-10-04 15:03] rsanchez-wsu opened #87 "API improvements"
This issue is meant to serve as a parent issue for various API improvements that need to made to the RaiderPlanner application.

[2017-10-04 15:11] rsanchez-wsu opened #88 "Implement getDuration() method in Model.Event"
Currently, three of the subclasses of `Model.Event` (`TimetableEvent`, `ExamEvent`, and `Activity`) implement a method called `getDuration()`.  This results in having to use reflection (i.e., `instanceof`) to determine when an `Event` object is of a sub-type which implements `getDuration()`.  This is poor design.

The `Event` class needs to implement a `getDuration()` method that returns a default

[2017-10-05 22:01] Aashishkebab opened #90 "Change dashboard module colors"
Colors on the modules on the dashboard should change based on progress of the module. For example, 0% would be red, 100% would be green, and the others in between those would have in-between colors. The task would be to create an algorithm to compute the RGB values based on the percentage.

Also, make the modules Material Design, and remove the "View" buttons and instead make the entire box clicka

[2017-10-05 22:15] Aashishkebab commented on #90
I am claiming this issue.

[2017-10-06 00:05] Aashishkebab commented on #90
UPDATE: I have figured out an algorithm to set color based on progress.
<img width="673" alt="screenshot_20171005-200453" src="https://user-images.githubusercontent.com/25588487/31257769-93ed851c-aa08-11e7-8c8f-6e676b10214b.png">

[2017-10-06 19:22] Aashishkebab opened #91 "Calendar size bug"
<img width="741" alt="screenshot_20171006-150537" src="https://user-images.githubusercontent.com/25588487/31294752-20913634-aaaa-11e7-9982-b85f9608b541.png">
There is a bug with the calendar. When you resize the window while still in the Study Dashboard, and theen switch to calendar view, the calendar has shrunk.

[2017-10-06 19:59] Aashishkebab commented on #91
It seems like this causes sizing in all screens to get messed up, not just the calendar.
<img width="950" alt="screenshot_20171006-155714" src="https://user-images.githubusercontent.com/25588487/31296159-4fcd716a-aaaf-11e7-95f7-0f24106f6600.png">

[2017-10-06 20:08] Aashishkebab opened #92 "Divide by zero BUG"
<img width="376" alt="screenshot_20171006-160555" src="https://user-images.githubusercontent.com/25588487/31296504-8460c4da-aab0-11e7-83d1-46b0d73467da.png">
This is a fatal error in the program. When adding a new task in some cases, when you go back to the Study Dashboard, the calculateProgress method encounters a divide by zero error when trying to return the progress. I wonder if anyone else ha

[2017-10-06 20:17] Aashishkebab opened #93 "FileChooser bug"
The FileChooser system at the beginning works _only_ if the 'startup folder' "saves" exists. Otherwise, if this folder doesn't exist, an error is thrown, and the program will not proceed beyond the initial dialog. There needs to be a try-catch to check whether the folder exists, otherwise make it or something. This seems to be a major bug.

[2017-10-07 02:53] barrett-matthew commented on #32
@DTCartier are you still working on this assignment? If not, I think I'd like to take a stab at it.

[2017-10-07 03:04] DTCartier commented on #32
Hey @barret-matthew,  I've put in a PR regarding this issue but I'm still trying to figure out issue #20.

[2017-10-08 22:03] barrett-matthew commented on #80
I'll start working on this transition.

[2017-10-09 17:01] klemmert opened #95 "Create a downloadable file of the project on the website"
Get the most recent _working_ files of the Raider Planner and make a downloadable zip file for the user on the website to download on the download page. This issue will need to be updated every time there is an mass update and only when the project is running properly.

This also relates to issue #81

[2017-10-09 17:02] klemmert commented on #95
I would also like to claim this issue

[2017-10-10 12:53] Aashishkebab commented on #92
@Alienturnedhuman any thoughts on this issue?

[2017-10-10 20:56] rnunez95 commented on #93
I can take care of this bug.

[2017-10-10 21:31] eSweetTech commented on #88
I'll look into this

[2017-10-10 21:34] Eric-Levine commented on #93
I'm pretty sure this is a pretty easy fix. I'll probably going to be working with the startup prompt again for the 2nd project, so I can fix that when I go back over it to clean it up, if you're not doing it for your project @rnunez95

[2017-10-10 21:41] sarasews commented on #92
I can work on this.

[2017-10-10 21:45] Aashishkebab commented on #93
Honestly it should be a fairly simple fix. One possibility could be a try-catch statement, where if the folder doesn't exist, then it is either created or the program starts the FileChooser in a different location.

[2017-10-10 21:48] RachelHill8 commented on #91
I can try to work on this. I think the bug was started with my window resizing anyway.

[2017-10-10 21:49] HRRichter commented on #4
I'll start to work on this.

[2017-10-10 21:52] rnunez95 commented on #93
I was going to use this for project 2. As part of this I was going to check all other file read/writes to make sure this is the only instance that there is a try catch block missing.
@Eric-Levine

[2017-10-10 21:55] cljones commented on #87
I want to work on this issue.

[2017-10-10 22:02] NathanS1 commented on #57
I'll look into this for project 2. On many popular websites, this is used for drop-down menus, like on Amazon. I think this could work for all menus used from the dashboard.

[2017-10-10 22:18] Aashishkebab commented on #90
UPDATE: The algorithm has been modified to be better.

<img width="482" alt="screenshot_20171010-181710" src="https://user-images.githubusercontent.com/25588487/31413465-5a5dc0a4-ade7-11e7-9695-8436cb58c8f7.png">

[2017-10-10 22:31] cljones commented on #30
I am going to take this issue also.

[2017-10-10 23:02] Alienturnedhuman commented on #92
I didn't work on this specific piece of the software, so I'm not sure which class I should be looking in, if you could point me in the right direction that would be handy and I may be able to provide more illuminating advice.

Depending on which class it is in, modifying this code could leave the .dat file incompatible. As explained in other threads, the .dat file isn't part of the software packag

[2017-10-10 23:07] Alienturnedhuman commented on #53
I would add that you will probably need to wait for #12 to be finished too, as this system would be difficult to do using serialisation, and is ultimately pointless if the software is being upgraded to a better save system, as it would mean having to rework this again.

[2017-10-11 00:25] Aashishkebab commented on #92
The issue happens in the calculateProgress() method, which is found in the Assignment.java class (in the Model package). The method returns "sum / n", however the first iteration that it fails both 'sum' and 'n' are 0.

[2017-10-11 00:45] Alienturnedhuman commented on #92
Ok, I think I can see where it is breaking.

Basically, if the assignment has tasks by none of the tasks has any requirements and the assignment has no requirements, then n will remain at zero.

The best solution would just be to check if n is zero and if it is return 0.

Alternative you can use the ternary operator:

`return n == 0 ? 0 : sum / n;`

[2017-10-11 12:58] Alienturnedhuman commented on #92
I spoke to my friend who worked on this and he says that it shouldn't be possible to have a task without any requirements, so it may be worth putting in some break points and seeing exactly what is going on.

However, looking at the code that is the only way you can get an n of zero, and the code above would therefore fix it.

[2017-10-12 21:35] Aashishkebab commented on #91
Every time you resize the window, then exit and re-enter a screen with a view, the view gets even smaller than before, till eventually it becomes extremely tiny. It shrinks logarithmically.

<img width="955" alt="screenshot_20171012-173410" src="https://user-images.githubusercontent.com/25588487/31520385-a95dbf0a-af73-11e7-8f03-3f662d2cd0a0.png">

It affects the dashboard title stuff as well (my d

[2017-10-12 22:46] klemmert commented on #81
Can I claim this issue as well as the issue I created and make that my project 2?

[2017-10-13 02:16] #5 closed

[2017-10-13 02:48] #37 closed

[2017-10-13 11:47] rsanchez-wsu opened #99 "Fix PersonTest.validEmail()"
The `PersonTest.validEmail()` unit test fails with the following error:

[code]

This needs to be fixed.

[2017-10-13 11:52] #8 closed

[2017-10-13 12:59] rsanchez-wsu commented on #4
@HRRichter How is this coming along?

[2017-10-13 13:46] AmilaDias opened #100 "Implement Single File ICS Export"
Currently, as per issue #50, the program will export all of the current calendar entries into individual ICS files for each calendar event that exists.

An enhancement that could be implemented would be to have a single ICS file generated that contains all of the calendar events for a person. This implementation would make it easier to import into a third party program such as Microsoft Outlook, G

[2017-10-13 13:46] AmilaDias commented on #100
I am working on implementing this at the moment.

[2017-10-13 13:50] AmilaDias opened #101 "Add and Implement Calendar Export functionality within program GUI"
As per issue #50 and pull request #71, the project can now export calendar events to ICS files. However, at the moment, this occurs upon launching of the Calendar utility, rather than upon user prompt.

An enhancement that could be made is to implement an "Export" button within the calendar view GUI. This button would be an action event that would trigger the export process implemented in PR #71.

[2017-10-13 13:51] AmilaDias commented on #101
I am currently working on implementing this issue

[2017-10-13 14:46] eSweetTech commented on #99
I'm working on this issue currently.

I was able to pinpoint the issue with the failing JUnit test for the valid email. Array item "email@123.123.123.123" is what is causing the error message to reproduce. I was able to verify this by creating multiple assertTrue statements for every item of the array and it was the only one that failed. After I commented it out and tested all the other elements i

[2017-10-14 02:54] Aashishkebab opened #103 "Back button background"
The back button now has a background, but it doesn't seem to fit or make a lot of sense. It should be removed.

<img width="101" alt="screenshot_20171013-225240" src="https://user-images.githubusercontent.com/25588487/31571913-7160077e-b069-11e7-9f78-d7cd6342fa17.png">

[2017-10-14 02:56] Aashishkebab opened #104 "Study Dashboard BUG"
On the main study dashboard, text is duplicated. Furthermore, the words "Study Dashboard" are shown on screens that are clearly not the study dashboard.

<img width="960" alt="screenshot_20171013-225513" src="https://user-images.githubusercontent.com/25588487/31571915-b068f9bc-b069-11e7-889d-f34c88ea9a65.png">

<img width="499" alt="screenshot_20171013-111559" src="https://user-images.githubuserco

[2017-10-14 02:57] Aashishkebab opened #105 "Old Sample Planner cannot be imported"
I can no longer open the previous StudyPlanner.dat file. It seems like either the method to import previous files has been modified or the StudyPlanner.dat file has been modified.

Either way, we need to look through the commit history and figure it out. Also we should add all .dat files to gitignore.

<img width="271" alt="screenshot_20171013-225702" src="https://user-images.githubusercontent.com

[2017-10-14 03:36] Aashishkebab commented on #104
I figured out the problem for the duplicates. Someone added the text twice.
<img width="690" alt="screenshot_20171013-233534" src="https://user-images.githubusercontent.com/25588487/31572246-5061a5d6-b06f-11e7-8b81-5bf3053af1d9.png">

[2017-10-14 03:36] Aashishkebab commented on #104
I claim and fix this issue.

[2017-10-14 12:40] rsanchez-wsu opened #107 "Exclude PNG and FXML files from FindBugs checking"
When running the build through Gradle, the PNG and FXML files under the `src` directory cause FindBugs to throw an exception:

[code]

It clearly cannot determine that the files should not be checked, so we will need an exclusion filter to ensure that files ending in `.png` and `.fxml` are not processed by FindBugs.

[2017-10-14 14:51] #88 closed

[2017-10-14 19:48] rsanchez-wsu opened #108 "Replace occurrences of "throws Exception""
There are many occurrences of `throws Exception` throughout the code.  This is bad design.  Each one needs to be changed to `throws` followed by a list of one or more specific exception types which are thrown from that particular method.  This issue applies to occurrences under `src`.  Those under `Test` will need to be handled in conjunction with a more comprehensive rework of the test suite, whi

[2017-10-14 20:11] lakerimff commented on #108
I'll look into this!

[2017-10-15 19:32] rsanchez-wsu opened #110 "Replace occurrences of "catch (Exception e)""
There are many occurrences of `catch (Exception e)` throughout the code. This is bad design. Each one needs to be changed to only catch a list of one or more specific exception types which are thrown from that particular method.  The catch block should do something sensible in each case (i.e., not nothing and not simply print a stack trace).  This issue applies to occurrences under `src`.

[2017-10-15 20:24] rnunez95 opened #111 "UIManager class creates many instances for the same objects"
In the UIManager.java file there exists many instances in which the same objects gets called in different methods. Running a private static variable for all these once will improve performance and clean up code.

[2017-10-15 20:24] rnunez95 commented on #111
I will be working on this.

[2017-10-16 00:10] RandyForte commented on #107
I have tried to fix this issue but am unable to get it to work. I have tried to add an exclude to the findbugs tasks and using an excludeFilter file but nothing seems to work. Any advice?

[2017-10-16 05:38] rsanchez-wsu commented on #107
Can you provide actual example of what statements/commands you tried and where you tried them?

[2017-10-16 11:32] rsanchez-wsu commented on #10
@Alienturnedhuman , would you be willing to coordinate with your original team to allow us to add the above-referenced JUnit exception to the Java source files under the `Test` directory?

[2017-10-16 11:36] rsanchez-wsu commented on #18
#80 should be considered a sub-issue for this.  The move to JUnit 5 will keep us current with respect to the latest release and will also provide added flexibility in terms of what sorts of tests can be implemented.

[2017-10-16 11:37] rsanchez-wsu commented on #19
@Bhulbert2096 It should be two separate pull requests.

[2017-10-16 11:43] rsanchez-wsu commented on #21
The merge of pull request #67 with commit 085f2ff (which moved the project from Ant to Gradle) and the subsequent removal of `build.xml` with commit be387b3 make this issue OBE.

[2017-10-16 11:43] #21 closed

[2017-10-16 12:44] rsanchez-wsu commented on #30
@cljones Please make sure to discuss your planned/intended approach here before submitting your pull request.  I want to make sure that I understand what will change, how it will change, and I would also like for others to have opportunity to comment.

[2017-10-16 12:46] rsanchez-wsu commented on #32
@DTCartier Can you tell me which pull request it was?

[2017-10-16 12:50] rsanchez-wsu commented on #57
@NathanS1 please also consider whether the change that is made here will improve or degrade the experience for users of a mobile/touch interface (assuming that the current GUI would be the basis for such an interface).

[2017-10-16 13:05] Smith-Jake commented on #110
I can begin working on this one.

[2017-10-16 13:56] DTCartier commented on #32
@rsanchez-wsu The PR was #77. You closed the issue but did not merge.

[2017-10-16 13:58] #7 closed

[2017-10-16 15:01] aar118 commented on #13
Here's a nice plugin that could be very useful in building the exe wrapper.
https://github.com/TheBoegl/gradle-launch4j

[2017-10-16 19:26] cameronroudebush commented on #103
I will work on this as part of my project 2.

[2017-10-16 21:11] Aashishkebab commented on #111
While you're at it, maybe you could refactor/rename the UIManager.java to something else (such as Interface.java), so as to fix a checkstyle issue?

[2017-10-16 21:15] #82 closed

[2017-10-16 21:17] Aashishkebab commented on #57
I think that this would improve the experience on mobile interfaces, as this is how mobile interfaces generally behave.

[2017-10-16 23:00] cameronroudebush commented on #91
@RachelHill8 I am not sure if you are still working on this but I ran across this and found that removing lines 238 - 245 in MenuController.java fix most of the resizing issues but then on the dashboard the module view gets shifted over.

[code]

[2017-10-17 01:55] cameronroudebush commented on #105
So I began to look at this one to find what exactly was going on. After some searching I managed to find the exception it was hitting on line 144 in MainController.java and found it was due to an IOException. I printed the stack trace out and found the following error occurring multiple times:

[code]
After some research I found it was due to a serializable issue and in some parts of the project t

[2017-10-17 14:16] Aashishkebab commented on #104
This issue has been fixed in Pull Request 106. https://github.com/rsanchez-wsu/RaiderPlanner/pull/106

[2017-10-17 18:57] Aashishkebab opened #118 "Allow window to resize smaller than 1000px height"
Currently the minimum height is 1000px, which is very high and works very poorly on screens that are lower than FHD. I am claiming this issue.

[2017-10-17 18:58] Aashishkebab commented on #118
I was thinking something like this...
<img width="430" alt="screenshot_20171017-145806" src="https://user-images.githubusercontent.com/25588487/31683707-a71b5e88-b34b-11e7-8510-0c42bfadb55c.png">

[2017-10-17 19:02] Aashishkebab opened #119 "Make modules scrollable when window gets too small"
Make the modules on the dashboard resize along with the window itself. Also, use a FlowPane instead of a GridPane to allow to modules to shrink and react dynamically inside the window.

I am claiming this issue.

[2017-10-17 19:07] graysondannyn commented on #39
@rsanchez-wsu Would you agree that we will also need a use case for when the user adds the event to the calendar?

[2017-10-17 19:59] RandyForte commented on #16
@markr11 Are you still working on this issue?

[2017-10-17 21:03] Aashishkebab opened #120 "Make window size based on screen resolution."
Make the window startup size based on the resolution of the screen it is being viewed on. I claim this issue.

[2017-10-17 21:19] Alienturnedhuman commented on #10
I have added a License.md to that folder with the text above - does that remedy the situation?

[2017-10-18 02:15] cameronroudebush commented on #120
@Aashishkebab You are just talking about once it opens up the primary program to study dashboard and not the .dat file selector, correct?

[2017-10-18 02:22] Aashishkebab commented on #120
@cameronroudebush Yes, but I have already fixed this issue and made a pull request. I forgot to self-claim this issue.
<img width="361" alt="screenshot_20171017-222116" src="https://user-images.githubusercontent.com/25588487/31698110-9c137e1a-b389-11e7-8a52-35e45bd4d99c.png">

[2017-10-18 02:26] Aashishkebab commented on #119
Like so. Notice the scrollbar.
<img width="444" alt="screenshot_20171017-222454" src="https://user-images.githubusercontent.com/25588487/31698178-0e3a3128-b38a-11e7-8e78-9125b9823ba0.png">
This solves the issue @RachelHill8 solved using minimum window sizing, but in a different way (which now allows window to become much smaller again).

[2017-10-18 02:38] Aashishkebab commented on #16
I believe we could add an additional menu item in the hamburger menu called "Settings" or something of the sort. When clicked on, a dialog box will pop up with checkboxes, sliders, dropdowns, etc. that will allow us to customize the theme.

However, before acting upon this, I believe we should wait until #106 has been merged, as there have been several major GUI changes made.

Themeable items coul

[2017-10-18 02:41] Aashishkebab opened #123 "Add topics/tags to the project description"
Add some tags describing what the project does. Like so:
<img width="342" alt="screenshot_20171017-224136" src="https://user-images.githubusercontent.com/25588487/31698622-60178bba-b38c-11e7-891b-ece0ab7af77e.png">

[2017-10-18 02:42] cameronroudebush commented on #120
@Aashishkebab Do you also have a mainStage.setMaximized(true)? If not you might also want to include that as the resizing you did just matches the stage to the screen size but it is technically not maximized like I think you are looking for.

[2017-10-18 02:54] Aashishkebab commented on #120
@cameronroudebush I was trying to avoid maximizing the window. In fact, in this case, I was trying to make the window start at about 75% of the screen's width and 90% of the screen's height. Previously, it started out at an exact pixel count, which wasn't friendly to low-resolution screens. My screen is 1080p, but I have tested the program at 600p resolution and tried to optimize it. However, sinc

[2017-10-18 03:07] Aashishkebab commented on #92
@sarasews Have you been able to figure out how to solve this?

[2017-10-18 12:20] RandyForte opened #124 "Add logging to the error reporting"
Add a file to log errors that are displayed by the UIManager. The log file will contain time/date and error message that is displayed. The log file should also be added to the .gitignore.

[2017-10-18 12:21] RandyForte commented on #124
I will start working on this

[2017-10-18 12:53] eSweetTech commented on #120
I personally think that starting it in full screen or partial screen is argumentative and should be discussed with the entire class, or at-least people who are working on UI so that these changes won't end up getting truncated if people see them and dislike them. Their are advantages and disadvantages to a maximized screen, but I think these decisions need to be made by more than one person

[2017-10-18 12:56] Aashishkebab commented on #120
@eSweetTech I am only changing the size it starts at, but I have actually improved ability to resize.
Previously, the screen had a very restrictive minimum sizing, and I significantly reduced that.
Furthermore, previously the screen automatically started at an absolute 1,000 pixels in height. I reduced this and set this number to instead 75% of of whatever the current screen resolution is.
This al

[2017-10-18 13:00] eSweetTech commented on #120
That wasn't the point I was trying to make. I think that we need to have a more open dialog about what is happening for UI, whether that is starting a new channel on Slack or different means. Personally, I'm not working on UI, but I think it would be beneficial for everyone working on it and for anyone who wants to make their comments or concerns heard.

[2017-10-18 13:19] Aashishkebab commented on #120
@eSweetTech Agreed, open dialog is good, I'm just afraid of how many people will actually participate in such dialog. My recent pull request made quite significant GUI changes. Take a look at #106. All of my pull requests have been GUI based, and I agree that more debate on this would help.

[2017-10-18 19:37] Aashishkebab opened #127 "Add files to gitignore"
Add all ICS files, all .dat files, and the import_report.txt file to .gitignore.

[2017-10-19 00:18] rkoeller commented on #127
I'll take care of this.

[2017-10-19 00:26] rkoeller opened #128 "Add a Help Button to the Menu"
This button should simply open the RaiderPlanner website in a web browser. This button could be updated at a later date to open the RaiderPlanner user manual if created or a FAQ page on the website.

[2017-10-19 00:26] rkoeller commented on #128
I would like to do this.

[2017-10-19 01:29] Aashishkebab commented on #127
@rkoeller I technically did this already. It says I 'referenced this issue 6 hours ago', as I added these three lines to gitignore at that time in a commit. I'm sure there are many other items you can add to gitignore that I forgot to add in my pull request though (such as xml files for example).

You could probably add the above files as well, but it might cause merge conflicts.

[2017-10-19 01:43] klemmert commented on #81
@rsanchez-wsu I have a few questions:
-what exactly do you mean by linking to the code repository? Do you mean link it to the github site?
-what extension were you wanting to give PHOTO-CREDITS? .md?

[2017-10-19 01:47] Aashishkebab commented on #128
Suggestion: Maybe you could add local help inside the application itself. Like a separate page or something.

Or maybe even load the website but inside the application (like a viewport for the website inside the application). This may be difficult as I have no idea how to do it.
Here is a GIMPed (PhotoShopped) general idea of what I mean.
<img width="1063" alt="viewport" src="https://user-images.g

[2017-10-19 02:42] Aashishkebab opened #129 "Initial dialog looks weird in tablet mode"
When you start the application while Windows 10 is in tablet mode, the interface looks bad.
A fix that may work is setting button size based on window size, and setting button position based on margins.
Or maybe there isn't a fix for it.
<img width="960" alt="screenshot_20171018-224028" src="https://user-images.githubusercontent.com/25588487/31751832-a0c35d0a-b455-11e7-8a25-505e86daf6e8.png">

[2017-10-19 03:12] Fahad-n opened #130 "Exception handling - discussion"
We must agree on a way to handle the Exceptions in this project, so what do you think the best way to handle the Exceptions?

[2017-10-19 03:16] Aashishkebab commented on #130
I think using try-catch is the best way to handle exceptions. That way, when an exception occurs, the application can handle it gracefully and accordingly.

[2017-10-19 03:19] Aashishkebab opened #131 "Implement multithreading"
Run some operations on separate threads to improve performance. For example:
1. Animations
2. Calendar exports
3. Notification panel and notification handling
4. Other stuff that may be appropriate.

Multithreading is not easy to implement, and if done incorrectly, extraordinarily difficult to troubleshoot.

[2017-10-19 03:50] nguyenvo8 commented on #20
I am working on this issue

[2017-10-19 15:08] Aashishkebab commented on #57
@NathanS1 I see you initiated a successful pull request but this issue wasn't in there. As a result, I have solved it and committed it to my pull request #106.

[2017-10-19 16:52] eSweetTech opened #132 "Change Header based off Tab"
In the current implementation of the UI, the header is Study Dashboard, and in the different tabs such as Calendar, their is no header, but a sub-header inside of the grey area with that tabs name. This issue is for moving that sub-header into the green header portion of the UI similar to where Study Dashboard is seen when you first open the program.

[2017-10-19 16:59] cameronroudebush commented on #132
I shall work on this!

[2017-10-19 18:21] eSweetTech opened #133 "Open Ganttish Diagram inside of main project"
In the current implementation of the UI, when a user clicks on "Generate a Ganttish Diagram" it opens it up full-screened in a new tab. This is poor design as we start looking at the mobile aspect of the project. The solve to this issue would be opening up the Ganttish diagram inside of the main program and including an option for the user to go back to the module where he chose to create it at (a

[2017-10-19 18:48] eSweetTech opened #134 "Remove secondary start-up Screen"
Ref #129
Currently when starting the project, the user is getting an option to create a new file, open a file or exit the program. If they choose to open or create a new file, after the prompts it loads them into the study dashboard. With this implementation, two windows are needed, which is causing issues in tablet mode on computers (Ref #129) and would cause issues during mobile implementation.

[2017-10-19 19:44] Bhulbert2096 commented on #130
I agree with you @Aashishkebab that is better than just simply throwing an exception

[2017-10-19 20:16] cameronroudebush commented on #133
I will look into this.

[2017-10-19 21:04] eSweetTech opened #135 "Change notification Icon"
The icon in the current state is a mail symbol with a white dot in the upper right hand corner, that turns red when their is a new notification. At first glance, the white dot can be noticed to be a notification since it is not a normal image people are seeing. The change for this would be to remove the current no notification icon with a similar icon with no white circle in the upper right hand c

[2017-10-19 22:01] Fahad-n commented on #130
I agree with you too, because some part of the exceptions do use IF statements, throw exceptions or try- finally.
So that is good we agreed on try-with-resources.

[2017-10-20 17:25] DTCartier commented on #87
@rsanchez-wsu and @cljones, I can help with the issues concerning API, for example the Access restrictions. @rsanchez-wsu, I haven't seen any issues concerning this but I going to create an issue concerning this.

[2017-10-20 18:17] DTCartier opened #138 "Access Restriction errors"
There are an abundant of errors that revolves around the jfxrt.jar.
To resolve, javaFX needs to be accessible which is not configured or not configured correctly within the jar library. I shall look into this issue.

[2017-10-20 19:07] barrett-matthew opened #139 "Resolve JUnit Failures for EventTest and CreateAccountUiTest"
With the update of the project from JUnit4 to JUnit5 (referenced by #80, completed by pull request #121), all current test cases were migrated to the new libraries. However, this change caused several test cases in EventTest and CreateAccountUiTest to fail where they had not previously. More details can be found in the description of pull request #121.

In short, resolution of this issue will invo

[2017-10-20 23:20] Eric-Levine opened #141 "Swap try blocks to try with resources where applicable and fix potential resource leaks."
There are a number of potential resource leaks in the code where .close() is run inside of the try and can potentially be skipped. Change these to try with resources to avoid this problem.

[2017-10-20 23:22] Eric-Levine commented on #141
I'm going to do this myself aside from the instance of this issue in MainController.Initialize() which I believe Fahad is dealing with.

[2017-10-21 04:36] rkoeller commented on #128
I think that is a good idea and I've seen this implemented this way but I think the way I suggested is the far more common method. Is it really necessary to open the website inside RaiderPlanner? I will do it my suggested way if that's okay with you and then if its decided later on that it would be better for the website to open inside RaiderPlanner then we can submit an issue to update the button

[2017-10-21 04:39] Aashishkebab commented on #128
Of course it's okay with me, plus it's only my opinion. Plus what I stated would be difficult to implement I imagine.

[2017-10-21 16:13] markr11 commented on #16
Sorry for late response this issue is open again.

[2017-10-21 19:50] markr11 commented on #16
I am changing issues this is free

[2017-10-21 20:01] markr11 commented on #129
I will work on this

[2017-10-21 20:11] graysondannyn opened #146 "Use case for Adding event to calendar"
This use case is needed in order to complete Issue #39 and once we have the calendar up and running.

[Calendar Event Adder Use Case.pdf](https://github.com/rsanchez-wsu/RaiderPlanner/files/1404419/Calendar.Event.Adder.Use.Case.pdf)

![addeventusecase](https://user-images.githubusercontent.com/22666954/31855492-39552438-b67a-11e7-83b6-e972be7975d7.png)

[2017-10-22 03:03] cljones commented on #87
@DTCartier  Sounds good.

[2017-10-22 21:05] #35 closed

[2017-10-22 21:09] rsanchez-wsu opened #152 "SimpleDateFormat in Event.setDate() needs to be thread-safe"
In #35, date validation in `Event.setDate()` was changed to use the `SimpleDateFormat` class.  However, that class is not thread-safe.  From the Javadoc:

[code]

Access to the `SimpleDateFormat` object in the `Event` class needs to be done in such a way so as to allow for safe access by multiple threads.

If you decide to work on this task, please investigate the potential implementations and pro

[2017-10-22 23:45] Eric-Levine commented on #141
Just as an FYI, it appears that @rsanchez-wsu fixed the resource leak in MainController.Initialize() himself at some point.

[2017-10-23 13:08] rsanchez-wsu opened #153 "Add default file extension when saving"
Currently, the file picker dialog for saving a file allows the user to enter a file name.  If the file name is entered without an extension, then the file is saved without an extension.  This results in the file not being in visible in the open dialog the next time around (because it is filtering the choices based on the default extension).  The process of saving a file should add the default exte

[2017-10-23 13:19] #57 closed

[2017-10-23 13:19] #90 closed

[2017-10-23 13:19] #118 closed

[2017-10-23 13:19] #119 closed

[2017-10-23 13:19] #120 closed

[2017-10-23 13:19] #127 closed

[2017-10-23 13:23] DTCartier commented on #153
I'll take a look at this.

[2017-10-24 00:55] #93 closed

[2017-10-24 00:55] #111 closed

[2017-10-24 03:33] #99 closed

[2017-10-24 03:53] rsanchez-wsu commented on #120
@eSweetTech @Aashishkebab I appreciate the points both of you made.  If there are specific concerns that we want to make sure do not slip through the cracks, then please create new issues that document specific items to discuss to changes to make.  However, as @Aashishkebab pointed out, we do need to be careful to avoid [bikeshedding](https://en.wiktionary.org/wiki/bikeshedding).

[2017-10-24 04:03] rsanchez-wsu commented on #13
@aar118 The fat JAR creation works, but it looks like the exe wrapper isn't getting built:

[code]

[code]

Is this expected?

[2017-10-24 04:11] Aashishkebab opened #155 "Optimize website for mobile"
While the website looks amazing, it needs work on mobile devices. Fluid design should be used.
![screenshot_20171024-000712](https://user-images.githubusercontent.com/25588487/31924502-d5db6160-b84f-11e7-9a9a-b2c82e0c1537.png)
A media query can be used to aid in this.

Also, the menu items should be aligned right here.
![screenshot_20171024-001623](https://user-images.githubusercontent.com/2558848

[2017-10-24 04:31] #91 closed

[2017-10-24 04:52] rsanchez-wsu commented on #50
@AmilaDias Should this issue have been closed by merging pull request #71?

[2017-10-24 05:07] #100 closed

[2017-10-24 05:29] rsanchez-wsu commented on #81
This was fixed by pull request #140

[2017-10-24 05:29] #81 closed

[2017-10-24 05:29] rsanchez-wsu commented on #95
This was fixed by pull request #140

[2017-10-24 05:29] #95 closed

[2017-10-24 05:40] rsanchez-wsu commented on #138
This is not really an issue with the project, since as long as Eclipse doesn't mess with the .classpath file, there is no problem.  I am closing this issue.

[2017-10-24 05:40] #138 closed

[2017-10-24 06:56] rsanchez-wsu commented on #105
@cameronroudebush This is interesting.  As I have been going through and making CheckStyle fixes I have added a `serialVersionUID` to the classes that I have touched.  Generally, the `serialVersionUID` value is used to manage compatibility between different versions of a class when, for example, one version serializes itself and then that representation is deserialized into a different version of

[2017-10-24 06:57] rsanchez-wsu commented on #132
@cameronroudebush Could you provide some before and after screen shots to show the change you made?

[2017-10-24 07:07] #141 closed

[2017-10-24 12:48] rsanchez-wsu commented on #129
@markr11 Could you provide before and after screenshots so I can assess your changes a bit more easily?

[2017-10-24 14:52] cameronroudebush commented on #105
@rsanchez-wsu Yes all the changes in that commit are in relation to fixing the StudyPlanner.dat. All I did was gave it the serialVersionUID numbers that it was looking for.

[2017-10-24 15:03] cameronroudebush commented on #133
@rsanchez-wsu Not sure if you wanted a picture here as well but I'm going to add one anyways:
![ganttish diagram](https://user-images.githubusercontent.com/25460877/31950979-d9af901c-b8aa-11e7-915a-3fa4442c138a.png)

[2017-10-25 01:59] #131 closed

[2017-10-25 02:01] #104 closed

[2017-10-25 02:57] Aashishkebab opened #158 "Sizing bug"
The sizing bug found in #91 is still present, though to a lesser degree. Notice the title text going off center. In fact, anything you add to "this.maincontent" in the MainController class has this issue.
<img width="741" alt="screenshot_20171024-224701" src="https://user-images.githubusercontent.com/25588487/31978285-a6eb59a4-b90e-11e7-8d34-3f2d2c1f2c87.png">

@RachelHill8 Maybe you want to look

[2017-10-25 03:28] sarasews commented on #152
I'm researching options for this.

[2017-10-26 20:36] Bhulbert2096 opened #159 "Video Class"
The video class needs to be either deleted or looked into being implemented. In order to close this issue look in the source code and see where this class is being used and how it is being used.  If it is being used maybe add some functionality to it or just delete the class.

[2017-10-26 20:36] Bhulbert2096 commented on #159
I am gonna take a look into this issue

[2017-10-30 18:40] Bhulbert2096 commented on #159
@rsanchez-wsu  I am unable to do @Alienturnedhuman for some reason by chance are you able to direct him to this.  My question for him is what was the original intent of the video class under the model package?

[2017-10-30 21:02] Alienturnedhuman commented on #159
The intention was for the requirement class to be extended for specific cases, such as a video that needed to be watched, or a book that needed to be read, with data specific for those cases.

These were never implemented in our prototype, but the classes left to demonstrate the functionality was intended, and for hypothetical future expansion.

[2017-10-31 20:23] sarasews commented on #152
I propose using FastDateFormat in place of SimpleDateFormat.

FastDateFormat was specifically made to replace SimpleDateFormat: to increase speed, be thread-safe, and it is immutable. There should be no need for additional synchronization.
Some discussion I found online mentioned that it did not support parsing, but as of lang 3.2 parsing IS supported.

[http://commons.apache.org/proper/commons-la

[2017-11-03 20:09] barrett-matthew commented on #139
I'll look into this issue.

[2017-11-05 00:51] cljones opened #160 "The account number of the user needs to be formatted"
After the "New File" option is selected, the format for the account numbers needs to be present and the length should be set so that the entry for the numbers can be more uniform.

[2017-11-10 02:13] barrett-matthew opened #161 "Resolve Checkstyle Issues in Test Cases"
Currently, the test cases for the RaiderPlanner project do not comply with our Checkstyle syntax convention. These issues should be resolved to maintain consistency and reduce the warning count.

[2017-11-10 02:13] barrett-matthew commented on #161
I will be working on this.

[2017-11-10 19:26] rsanchez-wsu commented on #161
This relates to #9

[2017-11-11 23:22] rsanchez-wsu commented on #130
@Fahad-n @Aashishkebab @Bhulbert2096 I think that this discussion somewhat misses the point.  I think that @Fahad-n is trying to initiate a discussion based on what I mentioned in class about the need for an exception handling strategy.

The answer is more involved than just "use try-catch".  We need to reach a consensus on how best to log exceptions, what conventions will be used for the user-vis

[2017-11-12 00:17] Bhulbert2096 commented on #84
![image](https://user-images.githubusercontent.com/25513589/32694712-e30672ca-c714-11e7-9a59-447c73c311ca.png)

[2017-11-12 02:08] #84 closed

[2017-11-12 03:06] rsanchez-wsu commented on #160
@cljones Could you clarify the description of this issue?  A screenshot of the current GUI elements, with arrows or other annotations to highlight the issue, as well as a clear description of both what is currently incorrect and what is the desired/expected behavior.

[2017-11-12 14:01] rsanchez-wsu commented on #128
@rkoeller As I mentioned in class, if you are making GUI-related changes you need to post before/after screenshots of your change (or screencasts, if that makes more sense for your change).  Please upload them here so that I can finalize your pull request.

[2017-11-12 19:33] rkoeller commented on #128
![before](https://user-images.githubusercontent.com/31522140/32702508-5faac5b4-c7b6-11e7-980b-f6eb728a7bf3.png)
![after](https://user-images.githubusercontent.com/31522140/32702507-5f9a94be-c7b6-11e7-8ec4-49449e46cae6.png)

[2017-11-12 19:37] rkoeller commented on #128
![before](https://user-images.githubusercontent.com/31522140/32702557-ea8e43e0-c7b6-11e7-95c0-30e5da827b38.png)
![after](https://user-images.githubusercontent.com/31522140/32702556-ea83624a-c7b6-11e7-80e6-60998fe5c63d.png)

[2017-11-12 20:00] rsanchez-wsu opened #163 "Remove RaiderPlanner-master.zip"
The `docs` subdirectory contains the file `RaiderPlanner-master.zip`, which is an archive of the project source code and library dependencies.  However, this file is now out of date as we have continued development.  The file needs to be removed and the link(s) to it in the website need to simply point to main GitHub code repository page.

[2017-11-12 20:06] aar118 commented on #163
I'll work on this

[2017-11-12 20:08] rsanchez-wsu commented on #132
@cameronroudebush It is not immediately apparent to me what I am looking at in each screenshot.  Could you describe what has changed in each?

[2017-11-12 20:09] rsanchez-wsu commented on #133
@cameronroudebush Thanks.  The screenshot is helpful.

[2017-11-12 20:10] rsanchez-wsu commented on #135
@cameronroudebush This issue could use a set of before/after screenshots.

[2017-11-12 20:40] #80 closed

[2017-11-12 20:40] #161 closed

[2017-11-12 20:47] #128 closed

[2017-11-12 20:58] rsanchez-wsu commented on #133
@cameronroudebush so, this looks strange on my machine:

![screenshot from 2017-11-12 15-56-24](https://user-images.githubusercontent.com/9941546/32703326-45f4c460-c7c2-11e7-87fb-bacbdf26a3f4.png)

I am going to accept your pull request, but I would like for you to write up a new issue for this strange appearance in the GUI.  You can look into it yourself or leave it for someone else.

[2017-11-12 21:07] cameronroudebush commented on #132
@rsanchez-wsu In the pictures above it moves the windows name (i.e. Calendar, Modules, Milestones, course names) into the top green header instead of having them below in a sub header wasting more space.

[2017-11-12 21:09] #103 closed

[2017-11-12 21:09] #105 closed

[2017-11-12 21:09] #132 closed

[2017-11-12 21:09] #133 closed

[2017-11-12 21:09] #135 closed

[2017-11-12 21:09] cameronroudebush commented on #133
@rsanchez-wsu I wasn't sure if this issue was another problem because #91 was supposed to fix this in other windows.

[2017-11-13 01:58] rsanchez-wsu commented on #10
@Alienturnedhuman Yes, that is splendid.  Thanks for taking care of it.  I have merged it in a few weeks ago and now I think that this issue can be considered resolved.

[2017-11-13 01:58] #10 closed

[2017-11-13 02:03] rsanchez-wsu commented on #39
@graysondannyn Apologies for the delay.  Yes I think a use case is needed for when the user adds an event to the calendar.

[2017-11-13 18:19] DTCartier commented on #153
@rsanchez-wsu not sure if you was able to look into this but as we discussed, a .dat file is being created when saving a new file without an extension. I just wanted to make sure I am looking at the same method. Thanks for your assistance. FYI, we discussed this in slack.

[2017-11-14 01:29] #124 closed

[2017-11-14 02:04] #163 closed

[2017-11-14 22:27] Aashishkebab opened #165 "#91 still persists"
This issue #91 still persists in some areas, though it's definitely less noticeable. In fact, it seems to only occur on the Modules tab. The issue was mostly fixed by #117.
<img width="747" alt="screenshot_20171114-172400" src="https://user-images.githubusercontent.com/25588487/32808410-ef474c96-c960-11e7-8bec-54a6b883a9e7.png">

[2017-11-14 22:36] Aashishkebab opened #166 "Clean up Hamburger menu"
Hamburger menu needs to look less like
<img width="130" alt="screenshot_20171114-171535" src="https://user-images.githubusercontent.com/25588487/32808774-3de35aa6-c962-11e7-9fb3-6f187530ada3.png">

and more like
<img width="133" alt="screenshot_20171114-173457" src="https://user-images.githubusercontent.com/25588487/32808810-5cc3654c-c962-11e7-8704-6fc89859ff5f.png">

[2017-11-14 22:38] Aashishkebab opened #167 "Change menu icons"
1.  Help icon needs to be white and not light gray for consistency.
2.  Chat icon needs to be created and not just the Milestones icon.

[2017-11-14 22:42] Aashishkebab commented on #166
I've already fixed this. It was an extremely simple fix.

[2017-11-14 23:35] lakerimff commented on #155
If nobody has claimed this, i'll look into this

[2017-11-14 23:57] klemmert commented on #167
I can do this!

[2017-11-15 01:13] RachelHill8 commented on #158
I can take a look at this again if you haven't already started. Sorry it took so long to reply.

[2017-11-15 01:15] Aashishkebab commented on #158
That's totally cool, I haven't done anything with this. #165 is also related to this and more up to date.

[2017-11-15 01:17] RachelHill8 commented on #165
That's really odd I swore I had tested it thoroughly. I will check this out as well.

[2017-11-15 01:20] Aashishkebab commented on #165
@RachelHill8 it's more than likely not your fault, somebody else probably made a change that did this.

One of the changes I made was undone by someone else who didn't correctly sync their fork. Probably the same thing happened to you.

You can check your original file in the commit history and compare it with the current file to see what's been changed.

[2017-11-15 01:24] lakerimff commented on #155
@Aashishkebab do you not think the menu on the mobile screen would look better centered rather than aligned right?

[2017-11-15 01:31] Aashishkebab commented on #155
@lakerimff I think both could look good, you can experiment with them. It just can't be left aligned because the menu button is on the right.
Just make sure that if it's centered, then each item is a block item, so you can click anywhere horizontally on that item, and you should also separate them with horizontal lines I think.

[2017-11-15 02:40] AmilaDias opened #169 "Adding Export Calendar functionality to Navigation menu"
Adding a working button within the navigation menu that follows our current design methodology and allows user to export the calendar directly from the menu.

- Button will appear in the menu and fit current styling methods.
- Button will also allow the user to select the directory where they wish to save the exported file

Additional enhancement will be to allow the export button to only appear w

[2017-11-15 03:44] NathanS1 commented on #123
I will look into this.

[2017-11-15 03:46] Aashishkebab commented on #123
@NathanS1 this was more directed towards Sanchez, as you may not have the authorization to change the project tags.

[2017-11-15 04:46] NathanS1 commented on #123
Right, I suggested tags that could be added now and in the future based on the current state of the project.

[2017-11-15 06:05] rkoeller opened #171 "Add Print Functionality to the Calendar"
Add the ability to print current selected week of the calendar.
References Issue #55

[2017-11-15 06:14] rkoeller commented on #171
I will take this as I have something already working.

[2017-11-15 06:45] rkoeller commented on #171
![before](https://user-images.githubusercontent.com/31522140/32822422-72efa26a-c9a6-11e7-9f40-789b332d3e2e.png)
![after](https://user-images.githubusercontent.com/31522140/32822424-744785d8-c9a6-11e7-8772-69d06d059f17.png)
![printdialog](https://user-images.githubusercontent.com/31522140/32822468-aa1750f8-c9a6-11e7-8f66-16fd11b5c6f8.PNG)

[2017-11-15 06:48] rkoeller commented on #171
Printer icon found from [https://www.iconsdb.com/](https://www.iconsdb.com/)

[2017-11-16 18:50] RachelHill8 commented on #158
Since the titles have been moved to the navigation bar is this really an issue?

![image](https://user-images.githubusercontent.com/31511671/32909605-fb7df224-cad4-11e7-8ffa-bf45de191175.png)

[2017-11-16 18:58] Aashishkebab commented on #158
@RachelHill8 Probably not, but whatever is causing the issue I'm guessing is related to #165 in some way. If you solve one, you'll probably end up solving the other, but I wouldn't know for sure.

[2017-11-16 18:58] Aashishkebab commented on #158
This issue can be closed.

[2017-11-16 18:58] #158 closed

[2017-11-16 23:10] cljones commented on #160
The string length of the account number needs to be controlled so that the account number will not be too small or too big.  Also, there needs to be some code to make sure that the account number does not contain any special characters.

![issue](https://user-images.githubusercontent.com/14806949/32920949-721d697c-caf9-11e7-9341-2f994f91dcd3.JPG)

[2017-11-17 18:44] cameronroudebush opened #175 "Ganttish Diagram Sizing Bug"
Previously in our project we have been having a major sizing bug with anything added to this.mainContent (ref #165.) As shown in the picture below, this issue seems to show up in the Ganttish diagram as well (my bad!) You can look over the fixes to #165 and #91 to get an idea of how to fix this.
![32703326-45f4c460-c7c2-11e7-87fb-bacbdf26a3f4](https://user-images.githubusercontent.com/25460877/329

[2017-11-17 19:00] cameronroudebush commented on #175
Well a one line fix got everything back in order after some extensive testing.
![testing](https://user-images.githubusercontent.com/25460877/32963922-827f6594-cb9f-11e7-913f-aa145d606902.png)

[2017-11-17 20:08] eSweetTech opened #176 "StudyPlannerControllerTest needs to be finished"
Currently in StudyPlannerControllerTest.java, the test cases have been created, and have exception handling, but nothing is ever done in the test cases. Because their is no testing or creation done in the test, a FindBugs error was being thrown for deadstore variables.
In order to fix this issue, we will need to un-comment the setUp() method that I commented out to temporarily resolve the FindBugs

[2017-11-17 20:11] eSweetTech opened #177 "Finish DataControllerTest and MainControllerTest"
After further investigation, DataControllerTest.java and MainControllerTest.java are two more test classes that are not finished. In order to solve this issue, setUp() method and all subsequent methods should be fully written out and proven to work, and if their is an issue why they are not working, fix the issue in the non-test class or fix the test parameters.

[2017-11-18 19:22] DTCartier opened #183 "Type Safety CheckStyle warnings"
This is an extension to issuer #32 and #9.

There are 4 type cast warnings needs to be resolve. Here are the files and warning related to them:

- FxBase.java - Type safety: Unchecked cast from Node to T	on line 83

- DataController - Type safety: Unchecked cast from VersionControlEntity to on line 185

- TaskController -
Type safety: The expression of type new PropertyValueFactory(){} needs unche

[2017-11-18 22:27] HRRichter commented on #183
I can work on this if no one else has it claimed already.

[2017-11-19 00:22] cljones opened #187 "The import issue for View.UIManager in StudyPlanner"
ref #9  The import statement of View.UIManager is in the wrong order and it needs to be put in the Third Party Package group.
![newissue](https://user-images.githubusercontent.com/14806949/32986014-a7e28fc2-cc95-11e7-8147-ee9809bab2fd.JPG)

[2017-11-19 00:51] markr11 opened #188 "Gnattish Diagram Too Small in 1920x1080"
The text is too
![gantt diagram first](https://user-images.githubusercontent.com/31455684/32986173-d0b9c5a6-cc99-11e7-9f7e-6f78326d82cc.PNG)
 small and with the resolution. Looks wrong see in attachment

[2017-11-19 00:51] markr11 commented on #188
I'll take this

[2017-11-19 00:58] cameronroudebush commented on #188
This is also related to #175 which is a sizing bug in the ganttish diagram. Don't get me wrong when you make the window much smaller the text gets really small as well.

[2017-11-19 01:04] cameronroudebush opened #189 "Replace blank space in startup menu"
Currently in the startup menu that allows the opening and creation of .dat files there is a big empty space at the top as shown below. The goal is to remove that white space and replace it with the raider planner logo off of the website.
![image](https://user-images.githubusercontent.com/25460877/32986228-9c0852e4-cc9b-11e7-9f3d-c897c4140311.png)

[2017-11-19 01:04] cameronroudebush commented on #189
I will be working on this

[2017-11-19 01:12] markr11 commented on #188
Will try and make the diagram  look better in the window

[2017-11-19 01:43] rnunez95 opened #190 "All buttons on mouse have actions"
Change mouse events to only work on primary button clicks. This allows for future development of context menus.

[2017-11-19 01:43] rnunez95 commented on #190
I will be fixing these.

[2017-11-19 02:04] cameronroudebush commented on #189
This is the change that I feel is better
![image](https://user-images.githubusercontent.com/25460877/32986599-ff1737b2-cca3-11e7-8e0e-2297bd151e6a.png)

[2017-11-19 04:16] ribar3 opened #195 "Update Video for Website"
Update website video to match current version of RaiderPlanner.

[2017-11-19 04:16] ribar3 commented on #195
I will resolve this issue.

[2017-11-19 04:17] ribar3 opened #196 "User Guide for RaiderPlanner"
Create documentation with images of RaiderPlanner functionality.

[2017-11-19 04:17] ribar3 commented on #196
I will take care of this.

[2017-11-19 13:49] rsanchez-wsu commented on #152
@sarasews I would be OK with that solution.

[2017-11-19 13:52] rsanchez-wsu commented on #146
@graysondannyn This looks good.  The only comment I would make is that it would be useful to separate the "system" into "view" and "controller" components.  For example, pulling up the calendar in reponse to the user going to the calendar GUI and pulling up the text box are primarily the job of the view, while adding the event to the calendar is the job of the controller.

[2017-11-19 22:06] #108 closed

[2017-11-20 23:10] nguyenvo8 commented on #187
I will work on this one

[2017-11-21 00:39] nguyenvo8 commented on #177
I will work on this one

[2017-11-24 18:52] Miller189 opened #199 "Give the website's text a polishing"
The website looks good format-wise, but some of the content should be rewritten to give it a more professional feel.  Correct spelling/grammar mistakes and make the tone polished and consistent across all pages.

[2017-11-24 18:58] Miller189 commented on #199
I'm fixing this

[2017-11-25 18:02] #166 closed

[2017-11-25 18:35] #171 closed

[2017-11-25 22:14] #32 closed

[2017-11-26 00:17] klemmert opened #202 "Change the size of the chart on Module to have unity with the other charts"
This is the chart on the module page:
![chart](https://user-images.githubusercontent.com/25559890/33236016-0dd71e36-d215-11e7-98c6-c42171da8336.PNG)

This is how we want it to look like:
![idealchart](https://user-images.githubusercontent.com/25559890/33236024-3d3ec5e8-d215-11e7-8f65-886385380250.PNG)

[2017-11-26 00:17] klemmert commented on #202
I will be taking care of this issue

[2017-11-26 00:23] Aashishkebab commented on #202
I believe this might be a duplicate to #165. I believe @RachelHill8 might be working on this.

[2017-11-26 01:11] klemmert commented on #202
My bad, I didn't realize that.

[2017-11-26 01:12] #202 closed

[2017-11-26 03:42] klemmert opened #204 "Add in the Chat title and append messages sent to the chat log"
The title Chat is blank, so that needs to be fixed
![chat page](https://user-images.githubusercontent.com/25559890/33236929-adf33e38-d231-11e7-8b2e-eab4f5f9fd70.PNG)

The title Chat is blank here too. Also, any messages sent from the user line will be sent to the chat log. It will show up as user: sentence. The user line will also go blank after being sent.
![chat page 2](https://user-images.githu

[2017-11-26 03:43] klemmert commented on #204
I will take care of this

[2017-12-05 17:52] #165 closed

[2017-12-05 18:40] #175 closed

[2017-12-05 18:40] #189 closed

[2017-12-05 19:03] #190 closed

[2017-12-05 19:32] #199 closed

[2017-12-05 20:18] #152 closed

[2017-12-06 01:29] #167 closed

[2017-12-06 01:29] #204 closed

[2017-12-07 04:52] nguyenvo8 opened #212 "Resolve Unchecked warnings, and RawTypes warnings"
After pull request #211 gets merge, it will cause the gradle build to be failed because it enabled warnings/ error check. However, I have disabled the check in order to not fail the build. Yet, the warnings should be resolved. There are two types of warning that occurred which are rawtypes warnings, and unchecked warning.
![warnings](https://user-images.githubusercontent.com/31458905/33699223-d1b4

[2017-12-07 06:50] nguyenvo8 opened #214 "Resolve ExceptionInInitializerError"
During implementing test cases for DataController and MainController. I had encounter ExceptionInInitializerError which is caused by static initializer block in HubFile and static method in UIManager.
![exceptionininitialzererror](https://user-images.githubusercontent.com/31458905/33702194-91ec2a84-daf0-11e7-94bb-55f6c5dc343a.PNG)
I had commented out code that causes this error occurred in DataCon

[2017-12-07 15:11] aar118 commented on #176
I'll work on this

[2017-12-08 15:20] aar118 opened #216 "JUnit Tests for TaskTest, StudyProfileTest, StudyPlannerTest, and RequirementTest classes"
It seems like some JUnit tests are needed for the following classes. I've noticed that some tests are duplicates from the controllers, and some tests that are already in each file are for other classes. This needs to be cleaned up, and actual specific class function tests added.

- [x] Tests for TaskTest
- [ ] Tests for StudyProfileTest
- [ ] Tests for StudyPlannerTest
- [ ] Tests for RequirementT

[2018-01-12 20:52] AlenaBrand commented on #160
Another option that could be considered is making the account number using the school UID or w number. That would be inclusive to controlling special characters and length, while making the entire system more uniform. Does anyone have any thoughts or other ideas they would like to add? I would like to start working on this.

[2018-01-12 22:06] Aashishkebab opened #222 "Remove console messages"
Remove all the console printouts, or at least add a conditional statement around them and a global program switch to disable/enable them.

The reason is that every single console printout has massive overhead and significantly degrades application performance.

[2018-01-13 00:56] AlenaBrand opened #223 "Fix Input Validation on New User Screen"
In reference to issue #160 some validation mechanism should be inserted in the new user screen. As you can see from my screenshot, the user is allowed to make a file without a salutation, full name, email, and a random account number.
![screenshot 14](https://user-images.githubusercontent.com/29344475/34900540-eaff3580-f7ce-11e7-924b-104a8dbbafdc.png)
There should be some validation of the account

[2018-01-13 02:18] AndrewVaughn commented on #160
I think that using the w number would be the better way to go, it gives more security than just the UID number.

[2018-01-17 01:41] rsanchez-wsu commented on #223
In general I like the concept here and I definitely like the UI/UX improvement.  You are absolutely correct that simply disabling the OK button does not help the user determine what was done incorrectly.  That said, I recommend that you explore the necessity of each bit of information before making them required for entry to create a new account.

This is something that we will discuss in depth in

[2018-01-17 02:08] AlenaBrand commented on #223
That's true. On a related note, Another thing that I noticed in working with the program is, the Salutation input is not listed as optional, but the user is allowed to create an account without it. That should probably be fixed for user clarification. The salutation should be labeled as optional because that may not be important to the user. In the project's current state, the ID number (w number)

[2018-01-17 02:51] rsanchez-wsu commented on #223
OK.  If you would like to start a wiki page on some of the larger features that this change may impact (e.g., chat and WINGS integration) and list the items there so that they don't get lost, that would be a good thing.  Something else that I would like to make sure is done as part of this issue is a review of the related unit tests.  The unit test suite is in rather poor shape at the moment and I

[2018-01-17 03:10] rsanchez-wsu opened #224 "Make ModelEntity and ModelEntity.open() abstract"
The class `ModelEntity` contains this method:

[code]

This is poor design as not all sub-classes of `ModelEntity` actually override that method.  Additionally, no direct instances of `ModelEntity` are created anywhere in `RaiderPlanner` (except for in a single unit test, which can be accomplished via different means).  The empty method body should be removed, the method declared `abstract` and th

[2018-01-17 03:26] #4 closed

[2018-01-19 15:17] AdamT87 opened #225 "Confirm when closing program"
Currently when the user wants to exit the program they click the close window button in the upper right.  When this is done the program closes instantly with no prompts or alerts sent to the user.  An alert or prompt should confirm the user wants to exit.  This should be done by tying in to the click event of the close window button or by adding an exit button to the navigation menu.  Ideally both

[2018-01-19 15:37] Aashishkebab commented on #225
I don't know if this is necessarily the best idea. The application automatically saves without confirmation, so a save dialog would be redundant.

Furthermore, I believe the standard for GUI design is to close without prompt unless further user action needs to be taken, or some notice must be given that some action is being taken by the application.

Almost every application I can think of closes

[2018-01-19 19:05] natcrossman opened #226 "Gradle Refresh Changes .classpath and .project"
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;There are currently two distinct bugs inside our project which relate to the way the Gradle build file is set up. These bugs become apparent whenever a project is cloned from the GitHub repository or whenever, a developer refreshes the Gradle build. During either of these scenarios, the **.classpath** and **.project** file get modified in such a way that the pro

[2018-01-19 20:53] natcrossman commented on #226
I would prefer to work on fixing these bugs! I have already started on fixing them and I believe that I already have an idea of how to fix one of them. Could you assign me this!
Regards
Nathaniel Crossman

[2018-01-19 21:00] #155 closed

[2018-01-19 21:24] Aashishkebab opened #227 "Fix website - Several issues"
This is extremely generic, but the website has many issues that need to be fixed.

1. Font size is a percent, which it shouldn't be, as it causes the font to be egregiously large on larger screens. It should be fixed in units of "em". There is almost no situation where font size should be dynamic in this way.
![screenshot_20180119-160534](https://user-images.githubusercontent.com/25588487/35171671

[2018-01-19 21:26] Aashishkebab commented on #222
Note: This can probably be fixed very easily. All one would have to do is "Find and Replace" all instances of "System.out.print" and replace that text with "//System.out.print".

[2018-01-20 17:15] NeiSabrina commented on #227
I can work on this issue.

[2018-01-20 18:31] AndrewVaughn opened #228 "Fix Help -"
On the navigation menu, the help icon does not work.
When clicked it freezes the program.
In researching this I only found a couple of lines that, I think, are suppose to give functionality to this icon.
In MainController - the method openBrowser.  -line 249
In MenuControoler - the method openBrowser.  - line 1408
In MainMenu - line 163.

Proposal is design a help file, contained in the program, a

[2018-01-20 21:06] MichaelPantoja opened #229 "Chat: Allow Message to Send with Enter Key"
The goal of this issue is to add a minor enhancement to the chat feature.

Currently, on the chat screen, when typing a message, you must click the send button to send the message. It would be an enhancement of convenience to be able to send the message by hitting the enter key.

[2018-01-20 21:33] Kadijah18 opened #230 "Importing Different File Types"
The current Program imports xml files only. The program should have the capabilities to import various files types such as excel and access databases. The desired end goal should be to have a distinct list of file types supported but being able to import excel and/or access is a good start in making these changes.

Tasks that need to be completed:

- [ ] Understand how excel and access data is sto

[2018-01-21 01:52] Andarific opened #231 "Mail Issue - Notification inbox automatically closes"
Currently, the mail notification inbox interface automatically closes after clicking the 'Ok' button on the mail message interface.

![issue_ex0](https://user-images.githubusercontent.com/25625398/35189922-68313990-fe23-11e7-87b3-200ec1ac7f7c.png)

![issue_ex1](https://user-images.githubusercontent.com/25625398/35189855-bf999148-fe21-11e7-8d53-086fbcc2d592.png)

This can be an annoyance if the use

[2018-01-21 04:11] HeadfirstRYAN opened #232 "UI Design: Drop Down Menu w/ a Responsive Design Problem (Resizing Background)"
**Problem:**
When the user activates the drop down menu, the content beneath it is completely blocked by the menu. This issue is designated as a UI design mishap.

![current_issue](https://user-images.githubusercontent.com/17085486/35190524-b5345688-fe31-11e7-8188-5a17d5de0fd9.PNG)
_Figure 1_

**Description:**
In _Figure 1_  the right side of the menu pane extends over the previously displayed con

[2018-01-21 04:20] Aashishkebab commented on #232
@HeadfirstRYAN I don't think this is necessarily a good idea. Every implementation of the hamburger menu I've ever seen has the hamburger menu go over the content. Some screenshots of how hamburger menus are supposed to work. Here's Google Play Music on a desktop.
![screenshot_20180120-231638](https://user-images.githubusercontent.com/25588487/35190776-015ebbb0-fe38-11e7-8b26-0371b0951e20.png)
And

[2018-01-21 04:34] Aashishkebab commented on #232
Another note. When referring to the term "responsive design", we usually talk about the application responding to a change in the size of the viewport, in this case the Window dimensions.

Last semester, I and another student were actually the ones responsible for ensuring this responsiveness. 3ad5d87 and a4ed3ed

[2018-01-21 04:50] HeadfirstRYAN commented on #232
@Aashishkebab I'm aware of the term. I was using "responsive design" in terms of a written visual aid for the reader. This issue report is nothing if not purely stylistic. While the user would only open the menu to go to another page, there is another scenario I considered. If the user is utilizing the chat feature and wants it to remain open and visible while they explore other options, then maki

[2018-01-21 14:27] SmithIM opened #233 "Chat login: Login box positioning needs corrected"
The login boxes on the 'Chat' screen are positioned incorrectly and overlap the title bar (See screenshot below). They need repositioned or there needs to be a correction to the top margin/padding to avoid this overlap.

![raiderplanner_chat](https://user-images.githubusercontent.com/35240968/35195098-4cede98a-fe8c-11e7-925e-e3dc096a76e2.PNG)

[2018-01-21 15:11] Terrillc13 opened #234 "Load a Default File on Startup"
**# Issue/Idea:**
When launching the application the user is currently always welcomed by a startup menu. This startup menu contains only the following three options:
1. Create File
2. Open File
3. Exit
![rp_startup](https://user-images.githubusercontent.com/35238135/35193939-c5bbe1a0-fe78-11e7-80f0-662598f5f959.PNG)

This may be inconvenient for a user who frequently uses the same file within the

[2018-01-21 15:20] Aashishkebab commented on #234
Another way to do this would be to keep the startup dialog, but modify it so that there is a "browse" option like you have, but it is pre-filled with the most recently used file.

This way, if the user needs to create a new file but the preference is selected to open specified file, the user won't have to open the application, change the preference, close it, and reopen it just to do so.

[2018-01-21 20:22] KatrinaArnold opened #235 "Deadline Date On New Tasks Is Not The Same As Inputted Date"
When creating a new task, you are required to put a deadline in, but no matter what date you put in, the date in the created object is always 01/12/2019 (see screenshots below). The deadline in the list need be able to change to what is inputted by the user.

![deadline_problem_1](https://user-images.githubusercontent.com/35312280/35198582-ea2cf27c-febe-11e7-8063-32577681c143.PNG)

![deadline_prob

[2018-01-21 21:59] redfox2045 opened #236 "Fix confusing wording on Account Creation window"
Currently the Create Account window stored in the CreateAccount.fxml file has some confusing or vague wording that may discourage people from going through the work of trying to comprehend what is being asked for in favor of just not creating an account and using the App.

![error write up](https://user-images.githubusercontent.com/22842195/35199462-eb4b0ba0-fecb-11e7-9f93-c0594c9f0ac4.png)

I sug

[2018-01-21 22:30] jordanjclay123 opened #237 "Change Name and Host fields in Chat"
The Name and Host fields on the screen that appears when the user clicks on Chat are unclear.

![capture1](https://user-images.githubusercontent.com/19294488/35199699-a63c1578-fecf-11e7-82eb-1283ebbda8f1.PNG)

It is difficult to know what is meant by the word Name and the word Host.
To solve this:
1. Add a label explaining what each word means, such as by saying "Your Name," "Other Person's Name,"

[2018-01-21 22:50] Collin-Thomas-WSU opened #238 "Implement a Settings Menu"
It would be Inspiring to put a Settings Menu within the RaiderPlanner. Here the user could edit their account in the case of misspellings or adding more information (i.e. their email, a salutation, account number, even the user's name).

The Default file could also be adjusted here, as discussed in issue #234.
Make issue #225 a toggle disable switch (is ON/Checked by default).

[2018-01-22 01:48] git-ben18 opened #239 "Cancelling exportCalendar() results in unnecessary error message box"
The `exportCalendar()` method in the `MainController()` does not catch instances when the user cancels the process. When the user clicks Export Calendar and chooses to cancel the action, a message box appears with the error, “Calendar does not exist! Export failed.”

![issue with canceling calendar export](https://user-images.githubusercontent.com/35343017/35201479-e1493f50-fee9-11e7-8f75-e1978460

[2018-01-22 02:21] RichardSimmons opened #240 "Implement Help Page/FAQ"
Currently clicking on the Help function within Raider Planner redirects the user to the the home page of the Raider Planner website which does not provide immediate help or information about an issue.

![raider help](https://user-images.githubusercontent.com/9275322/35202396-80c0734a-fef0-11e7-8c78-e1fb1b9734c2.png)

In order to improve user experience the help button should:

1. Direct the user t

[2018-01-22 03:29] NeiSabrina opened #241 "HTML Files Don't Pass Validation Check"
Right now, none of the html files are valid. Valid html files are less likely to cause problems in different browsers and create a smooth functioning website.

Some of the problems include:
1) Inconsistent doctype tags.
2) Images don't include alt tags.
3) Duplicate tags.
4) Beginning tags without a matching ending tag.

You can see all problems by uploading the html files and checking them here:

[2018-01-22 03:34] Watson1995 opened #242 "Simplify Methods 'newFileB' and 'openFileB' in StartupController.java"
In the class StartupController.java, 'newFileB' method from lines 86-104 is four 'if' statements.
This same thing applies to the method 'openFileB' from lines 116-135. I feel this could be
greatly simplified by using '&&'. For example, in the 'newFileB' method, on line 86 it says
if (plannerFile != null){ then the next line (87) is another if statement that says
if(plannerFile.getParentFile().exis

[2018-01-22 04:02] dreeves27 opened #243 "Navigation doesn't take you back to home menu without having to re-run the program"
Searching throughout the main page of the raider planner, the navigation pane is obviously still a work in progress. However, I feel that there should be a way to go back to the main start up menu, just in case a user wants to open a file. The navigation pane works when selecting chat. However, I found myself stuck in the chat creation area with only the ability to check notifications, and/or get

[2018-01-22 04:13] TheGeth opened #244 "Implement a functioning version number"
- [ ] The program's display could benefit from a displayed version number (probably in the lower-right corner, as this is the usual convention). This would provide a more user-friendly way to determine what version of the client is currently running.

- [ ] An alternative/additional location for the version number could be the program's title bar, after the "RaiderPlanner" moniker.

- [ ] A third

[2018-01-22 11:01] Aashishkebab commented on #243
#229 and#234 already address this. This may be a duplicate issue.

[2018-01-22 13:38] rsanchez-wsu commented on #226
@natcrossman Thank you for the exceptionally detailed write up.  This bug has been annoying me since we switched to Gradle a few months ago and I would be thrilled if we could find a way to fix it.

[2018-01-22 13:49] rsanchez-wsu commented on #228
@AndrewVaughn In general, you are on the right track with this issue, but I think it needs an additional level of detail.  in terms of the solution implementation.

Also, `MainController.openBrowser()` attempts to open the system default browser and pass it the specified URI (the project website).  You might want to check your error log to see if your system configuration is such that you do not h

[2018-01-22 13:59] rsanchez-wsu commented on #230
@Kadijah18 I think that you may misunderstand the purpose and function of the XML import.  Currently, RaiderPlanner stores its user data and state information in a binary serialized file.  It is possible to export this to XML, but there are currently no other export options.  This means that the idea of importing different file types would mean adding support for importing file types which the app

[2018-01-22 14:04] rsanchez-wsu commented on #229
@MichaelPantoja This issue does not really meet all of the guidelines for a good issue.  Please split this into two distinct issues.  I recommend that you improve #243 for the inability to return to the dashboard and that you write a new separate issue for the chat feature enhancement.

[2018-01-22 14:07] rsanchez-wsu commented on #231
@Andarific This write up is excellent.  Very nice work!

[2018-01-22 14:08] rsanchez-wsu commented on #233
@SmithIM That is strange.  I have never noticed that issue before.

[2018-01-22 14:10] Aashishkebab commented on #233
@SmithIM This is not an issue on my device. Do you have steps to reproduce this possibly?

[2018-01-22 14:11] rsanchez-wsu commented on #234
This would be a good thing.  Keep in mind that we are tracking an application preferences framework as part of issue #14.  Make sure that any settings you need for this are captured there so that the framework is completely specified and doesn't leave things out.

[2018-01-22 14:18] rsanchez-wsu commented on #232
@HeadfirstRYAN I want to be careful with these sorts of purely stylistic design issues.  I would certainly not be opposed to making it an optional feature that is controlled by an application preference (perhaps in an "advanced" or "expert" mode).  Aesthetics being subjective, it is certainly conceivable that users would prefer your approach.  That would be the sort of thing that we could even mak

[2018-01-22 14:22] rsanchez-wsu commented on #239
@git-ben18 I am not completely convinced that we need a sub-class of Exception here, but I am open to the possibility.  I would want to discuss this in a bit more detail to determine if a simpler approach might meet our needs here.

[2018-01-22 14:26] rsanchez-wsu commented on #240
@RichardSimmons @AndrewVaughn reported in #228 that this just doesn't work.  Could the two of you get together and figure out what is really happening?  Once that is done, I would be open to suggestions for improving the help feature.

[2018-01-22 14:28] rsanchez-wsu commented on #241
Amazing.  I completely forgot to check the validity of the website content when I merged it in.  Good catch.

[2018-01-22 14:29] rsanchez-wsu commented on #242
@Watson1995 I definitely agree with simplifying the code.  However, your issue write up is all one line.  Please edit it so that the formatting is correct.

[2018-01-22 14:40] rsanchez-wsu commented on #237
@jordanjclay123 This looks closely related to #233 (assuming that issue can be reproduced reliably).  Make sure to coordinate with @SmithIM so that we don't end up with a conflict.

[2018-01-22 14:42] rsanchez-wsu commented on #244
@TheGeth This is a good idea, but we are still in very heavy development and a long way off from a formal release.  I think this should be put on the back burner until we have had the opportunity to discuss our versioning strategy as a project.

[2018-01-22 14:46] rsanchez-wsu commented on #238
@Collin-Thomas-WSU This seems like a fairly large issue.  I imagine that as the design discussion proceeds and implementation decisions are made this issue will need to be split into smaller issues that can be reasonably implemented.  Also, please make sure you are familiar with issue #14 , which is for implementation of an application preferences system.  Your idea sounds closely related to that

[2018-01-22 14:49] rsanchez-wsu commented on #222
@Aashishkebab Except that we might want to be a bit more methodical.  On further consideration, I would favor an approach that diverts the console messages to an application log instead of just eliminating them.

[2018-01-22 14:49] Aashishkebab commented on #232
@rsanchez-wsu @HeadfirstRYAN I don't want to cause unwanted debate on this issue (heck I'm not even in the class anymore), but I do have a concern about this.

In all implementations I've seen of a hamburger menu, the content either is _under_ the hamburger menu or it is _pushed to the side_. I have never seen a hamburger menu cause content to be resized.

A concern I have with it is that performa

[2018-01-22 15:31] rsanchez-wsu commented on #225
This functionality might be a candidate for an "advanced"/"expert" mode configuration setting.  That is, the user might be permitted, when in advanced mode, to enable a setting where the application prompts on exit instead of automatically saving.

[2018-01-22 15:35] rsanchez-wsu commented on #236
I think the "salutation"/"title" thing is a matter of preference.  Remember that the original developers of this application are from the UK, so "title" to them means something different than it does to us.  Second, the account number is something that we need to decide as a project and then document before we can go changing it in the UI.

[2018-01-22 15:38] rsanchez-wsu commented on #232
@Aashishkebab Your concern regarding performance is quite valid.  I like your suggested compromise.  If we decide to go ahead with this, then that is the approach that we will consider as a starting point.

[2018-01-22 15:52] rsanchez-wsu commented on #243
@dreeves27 This issue write up lacks a clear statement of the issue (I think I understand your meaning, but screen shots would be very helpful) and a clear statement of the completion criteria.  Could you possibly improve the description?

[2018-01-22 21:05] MichaelPantoja commented on #243
It is possible that the link to the dashboard is broken. It is clickable, but no action occurs upon click.

[2018-01-22 22:53] Collin-Thomas-WSU commented on #240
Have the help button link to the wiki page.

[2018-01-22 22:53] SmithIM commented on #233
Upon further testing, I think I figured out what conditions cause this issue. The chat login shows up normal initially, using the 'Spring 2018' study profile. However, switching to the 'First Year Gryffindor' profile causes this misalignment, even after switching back to another profile.

[2018-01-23 02:37] AlenaBrand opened #245 "Implement Password Requirement for Opening Files"
I think users should be required to enter a password before opening a file, to ensure data security. I can look into sending a password reset code through email, but for the time being, I think we should allow a user to reset a lost password using a security question.
For this to be implemented, we need to:
- [ ] Update the create account screen to include:
- Password and confirm password fields
-

[2018-01-23 16:04] rsanchez-wsu commented on #245
This seems like the sort of thing that is not workable in the application's current configuration.  I can definitely see that we will need something like this as part of #27 (and maybe #26).  However, the way the application works right now, there would be no way to securely store the security question/reset information separately from other user data on the system.  I recommend that we push this

[2018-01-23 16:11] rsanchez-wsu commented on #101
@AmilaDias Was this issue considered closed when I merged your pull request (#125)?

[2018-01-23 16:20] rsanchez-wsu commented on #223
@AlenaBrand As I have been reviewing some of the old issues in the project, I noticed that this is closely related to #30.  Please review that issue and ensure that both this issue and that issue are addressed as appropriate.  If your changes for this issue completely fix that issue, then the appropriate annotations should be made.  If not, make sure you document in that issue what things have bee

[2018-01-23 16:53] #169 closed

[2018-01-23 16:55] #101 closed

[2018-01-23 16:57] #187 closed

[2018-01-24 16:53] AndrewVaughn commented on #240
If no one is working on this, I will get started on the enhancements.

[2018-01-25 00:19] Andarific commented on #241
I can work on this issue.

[2018-01-28 20:19] git-ben18 commented on #239
The `UIManager.saveIcsFileDialog()` method uses a `FileChooser `object that implements `showSaveDialog()` method. According to the documentation, this method either returns `the selected file or null if no file has been selected`. Given this behavior, is the catch-block in `MainController.exportCalendar()` incorrectly implementing `NullPointerException`? Would it better to instead test for a null

[2018-01-28 20:48] MichaelPantoja commented on #30
Is anyone still working on this?

[2018-01-29 20:53] jordanjclay123 commented on #233
I am not having this issue when switching profiles. Is there anything else you are doing that you think could affect the positioning? Also, my issue is making the labels clearer, which could affect this one, so we might need to do something to make sure there is no conflict.

[2018-01-29 23:07] Terrillc13 commented on #14
If @Skaterskunk is not currently working on it, I was looking to create at least an outline framework for a settings menu because so many other issues need one.

[2018-01-30 22:43] SmithIM commented on #233
@jordanjclay123 We can get some details together after class tomorrow, if that works for you. I agree we should collaborate on this to make sure we're not stepping on each other's toes or duplicating work.

[2018-01-31 19:33] MichaelPantoja opened #248 "Chat: Code should be moved to its own file"
Currently the code for the chat feature is in the MenuController file. It'd be best placed in its own file. This file could be named ChatController.

However, while the obtainUserInformation(), createFirstWindow(), and submitButtonAction() functions are being used for the chat, currently, they can be modified for future use with other features. These functions should remain in the menuController f

[2018-01-31 20:01] jordanjclay123 commented on #233
@SmithIM Okay. That works for me. Thanks.

[2018-02-01 00:15] SmithIM opened #249 "Room.java Building number and room number"
In the Room.java file line 63, there is a check to see if the building entity is null. Then on
line 64, the method returns the name and room number. I'm not sure what good a room number would
be if there is not a building associated with it. If this is a necessary case, I would recommend
at least changing the output to reflect that the actual location is unknown.
![image](https://user-images.githu

[2018-02-01 00:16] SmithIM commented on #249
I am currently working on this issue

[2018-02-01 20:21] HeadfirstRYAN commented on #232
@Aashishkebab Quick question. When designing the GUI for the application through the .fxml files, did you find any helpful resources online relating to the .fxml API, or really anything that proved helpful in implementing the Hamburger menu?

[2018-02-01 20:54] Aashishkebab commented on #232
@HeadfirstRYAN I didn't really look at any resources. I already knew HTML and CSS, which helped immensely.

It is a pretty self-explanatory language, so the thing I might recommend is simply reading through the code and messing around with values to try and figure out what does what.

One thing to note is that the hamburger menu is inside a GridPane, which in turn has multiple GridPanes to add the

[2018-02-01 23:36] MichaelPantoja commented on #248
I'll work on this for Project 1.

[2018-02-02 21:00] HeadfirstRYAN commented on #232
@Aashishkebab I was messing around with **AnchorPane** and when I run the application and load a pre-existing profile or a new one, the values I changed to see the difference are not there. This tag is in MainMenu.fxml.

`<AnchorPane id="AnchorPane" maxHeight="-Infinity" maxWidth="-Infinity" minHeight="-Infinity" minWidth="-Infinity"
            prefHeight="750.0" prefWidth="1000.0" xmlns="http://

[2018-02-02 21:37] Aashishkebab commented on #232
@HeadfirstRYAN I am not sure I completely understand your question.

That being said, you'll want to note that when using Eclipse, if you edit any files outside of Eclipse, it does not know those changes occurred and will ignore them.

What you can try doing is right-clicking on the project and pressing "Refresh".

[2018-02-02 21:47] HeadfirstRYAN commented on #232
Sorry, I meant to type that I changed variable values in order to see how the pane would change.

[2018-02-02 23:11] Terrillc13 commented on #238
I am currently working on this.
Attached is how it looks like thus far:

![settingspreview](https://user-images.githubusercontent.com/35238135/35758137-5bdab140-0840-11e8-9beb-27504818891f.PNG)

I have decided to create it as its own FXML to provide an ordered appearance. The sidebar may be used to select different sections of the settings menu. The settings menu may be reached by the main menu by

[2018-02-05 04:15] TheGeth commented on #224
Made the changes suggested to the best of my ability. Pull request pending.

[2018-02-16 01:07] natcrossman opened #261 "Crucial System Bug"
**Bug Description**: Whenever a new user of the application creates an account he or she is not able to add or create any meaningful content in our application. By default every single bit of functionality is disabled. For example, the calendar button, the add button, milestones, modules, and study profile. See figure 1.  The only action the user is allowed to really do is to import a pre-existing

[2018-02-16 01:23] natcrossman opened #262 "Major navigational Panel Bug"
**Bug Description:** There is a bug inside the navigation panel and the whole GUI environment. If you click on the Module, Study Profile, or Milestone buttons inside of the navigational panel the system loads the appropriate item you clicked on. However, if you then try to click on any other option, inside of the navigational panel, besides the Student Dashboard button the system will not change.

[2018-02-16 01:23] natcrossman commented on #261
@rsanchez-wsu

[2018-02-18 21:35] AlenaBrand commented on #134
I'm currently working on this.

[2018-02-26 03:34] rsanchez-wsu commented on #30
@MichaelPantoja I asked @AlenaBrand to make sure that the interaction between #223 and this issue is documented here. I am not aware of any other related work on this issue.

[2018-02-26 03:43] #223 closed

[2018-03-04 14:31] rsanchez-wsu opened #264 "Fix "welcome back" text on dashboard"
The below screenshot exhibits two bugs with the initial dashboard display:

1. The text always says "welcome back" even the very first time a user sees it, e.g., just after initial profile creation.
1. If the user declines to provide a name, then the message looks awkward: `Welcome back, !`

![screenshot from 2018-03-04 09-26-52](https://user-images.githubusercontent.com/9941546/36946678-5568d318-

[2018-03-04 14:36] #241 closed

[2018-03-06 15:08] #224 closed

[2018-03-06 23:14] Andarific commented on #264
I can work on this.

[2018-03-07 11:33] #238 closed

[2018-03-08 23:22] redfox2045 commented on #261
The buttons can be enabled in the MenuController.java file in the Controller folder at the updateMenu() method beginning at line 1539. At the moment there is an if statement disabling the buttons. When re-enabled it appears the Add Activity module is completely functional with the exception of the input check to re-enable the button. There is also some break between the processes that save and sto

[2018-03-08 23:23] redfox2045 commented on #262
These buttons can be re-enabled through the same updateMenu() method in the Menu Controller, setting all of these to setDisable(false) seems to completely fix the problem and allow for free and successful navigation despite everything I've tried to do to break it, including navigating to every single module including the calender and milestones modules. This leads me to believe that something in t

[2018-03-08 23:39] redfox2045 opened #265 "Calender Uninitialized at start-up"
As of currently when the calendar button is enabled at the start of a fresh save file attempted use of the Calendar results in a slew of errors caused by the Calendar not being initialized or substantiated when the program initially starts resulting in a Null Pointer Exception. The calendar variable appears to be first initialized on line 40 of the StudyProfile.java file in the Model, however ther

[2018-03-09 00:11] redfox2045 opened #266 "Study Profiles and Modules tables become improperly sized upon initial start-up"
When the program launches a new file for the first time both the Study Profile's and Modules tables size to be very skinny and very long, rather than properly fitting the page. Upon re-launching the program the tables adjust properly in width, but are still vastly too long in length. So much so that they push the buttons below them completely off the screen, rendering them unusable (And if I hadn'

[2018-03-09 00:15] Aashishkebab commented on #266
This issue has been addressed multiple times, I'm surprised it hasn't been solved yet.
#117
#158
#165

[2018-03-09 00:15] redfox2045 opened #267 "Study Profiles and Modules tables are too long"
Both the Study Profiles and Modules tables are vastly too long, causing them to push both data at the bottom of the table and the buttons under the table completely out of view and rendering them unusable and (Unless you poke around the FXML code to find them) unknown.
![bug5a](https://user-images.githubusercontent.com/22842195/37183648-15af26f8-2305-11e8-89e9-fe7e2ae32e9e.PNG)
![bug5b](https://us

[2018-03-09 00:28] redfox2045 opened #268 "The chat feature has no input checks, and doesn't resize"
As of currently there are no checks to ensure any info was inputted into the chat so as of currently you can enter the chat without actually inputting any data at all. If this is done the user is still able to post to the existing chat feature under the username null. I'd be interested in seeing what happens if you have more than one null in the same chat at the same time, but because almost all o

[2018-03-09 00:33] redfox2045 commented on #266
Thanks, I looked back a little ways and didn't see it (its 100 away so makes sense) but thanks for the heads up.

[2018-03-09 00:35] Aashishkebab commented on #266
@redfox2045 You can always "Close" the issue, but what I meant to communicate is that you should **definitely keep this issue** because the issue still exists.
It was _supposed_ to have been fixed a while ago, but it apparently hasn't, which is what surprises me.

[2018-03-09 06:25] Andarific commented on #268
I'll work on this.

[2018-03-11 02:37] #249 closed

[2018-03-11 10:30] Terrillc13 commented on #234
I am currently working on this as my settings menu project.

[2018-03-11 19:07] natcrossman commented on #226
This issue has been successfully migrated into our application.

[2018-03-11 19:07] #226 closed

[2018-03-11 19:26] natcrossman opened #274 "Migration to A Relational DBMS: Apache Derby"
This issue is designed to break down and simplify the process of creating, reordering, and redesigning our Raider Planner system to support a relational database. The primary goal is to move our system away from serializing data objects and storing them in the StudyPlanner.dat. Currently, our application is rigidly designed to exclusively utilize serialization; so the process of moving to a relati

[2018-03-11 20:13] SmithIM commented on #267
I believe I have this issue solved, just trying to fix a couple finer details.

[2018-03-12 00:03] HeadfirstRYAN opened #277 "UI Design: (Expanded menu display) FXML overlay boundary problem"
### Description:
When switching in between FXML displays, JavaFX puts the chosen FXML display on top of the former. _Figure 1_ shows the aesthetic problem.

![2018-03-11 1](https://user-images.githubusercontent.com/17085486/37259871-845d9a44-2562-11e8-9e48-b839b3454818.png)
_Figure 1_

I've confirmed that JavaFX does do an overlay, and I tested this by using different FXML sizing values. Though fo

[2018-03-12 00:25] HeadfirstRYAN opened #278 "UI Design: (Expanded menu display) Navigation Menu [State: Always Open if in Expanded Mode]"
### Description:
In order to have the main functionality of the expanded menu display work, the navigation menu must remain open while in the expanded state. The purpose of this issue is to keep track of the current problems that connect to issue #232.

![navmenu](https://user-images.githubusercontent.com/17085486/37260504-423ab4be-256a-11e8-9ff6-bad926228c74.PNG)

### Components involved:
- [ ] M

[2018-03-12 00:52] HeadfirstRYAN opened #279 "UI Design: (Expanded menu display) Notification Log on Display Upon 2nd FXML's Launch"
### Description:
Shortly after the "Mode Switch" button is clicked, the Notification Log is already in the ready state (see _Figure 1_). Usually the log would be closed until the user interacts with the navigation menu option (see _Figure 2_ for post interaction).

![notification](https://user-images.githubusercontent.com/17085486/37260655-23076c2a-256c-11e8-8a11-907f2ee2dd19.PNG)
_Figure 1_

![no

[2018-03-12 03:44] KatrinaArnold opened #280 "Updating assignments"
There is currently no way of adding or removing an assignment in the assignments pane, so there needs to be a button for each, probably at the bottom to mimic what has already been done on the tasks page. The buttons need to be able to update the assignments stored in the .dat file as well.

[2018-03-30 15:28] Andarific commented on #227
Hi @NeiSabrina, are you still working on this issue? If not, I can work on it.

[2018-04-05 16:26] jordanjclay123 commented on #265
I'll work on this issue.

[2018-04-06 04:35] Terrillc13 commented on #16
I was thinking about implementing a setting in which the user could designate the color of the title bar and possibly the hamburger menu. One thing to consider is how the text and icons will appear. I will begin working on this. If anyone has suggestions, please let me know.

[2018-04-06 13:33] Aashishkebab commented on #16
@Terrillc13 Just please make sure to change the color of text and icons accordingly.

When our class started working on it, the text and icons were black, and it was difficult to read. I changed them all to white.

However, if you have a light theme option, then the text and icons need to be black. You may want to restrict it to only dark colors, or you'll have to dynamically change the icons (pos

[2018-04-07 15:06] rsanchez-wsu commented on #227
@Andarific It has been 2.5 months, so it seems a safe bet that you can go ahead and work on it. @NeiSabrina Please speak up very soon if you are in fact still working on this or you will end up with conflicting changes.

[2018-04-07 15:09] rsanchez-wsu commented on #274
@natcrossman Excellent write up and analysis with this issue.

[2018-04-07 23:05] MichaelPantoja opened #287 "Calendar: Code should be moved to its own file"
Currently the code for the calendar feature is in the MenuController file. It'd be best placed in its own file. This file could be named CalendarController.

As it stands now, most code for features involving the calendar are in the loadCalendar function in MenuController.java. While loadCalendar should be in MenuController, a lot of the code in this function should be moved to its own CalendarCon

[2018-04-07 23:05] MichaelPantoja commented on #287
I'll begin working on this.

[2018-04-08 01:12] #227 closed

[2018-04-08 11:54] #242 closed

[2018-04-08 11:54] #264 closed

[2018-04-08 11:54] #268 closed

[2018-04-08 19:34] Watson1995 opened #290 "Study Profiles: Implement ability to remove an entire Study Profile"
When viewing the Study Profiles imported. You have the capability to select a profile as shown below.

![thumbnail](https://user-images.githubusercontent.com/25064903/38471514-2bb90254-3b40-11e8-8dc9-e75d21c46696.png)

Once you select a profile you can either set the profile as current, or just an 'ok' button to close the window

![thumbnail 1](https://user-images.githubusercontent.com/25064903/38

[2018-04-08 20:12] Watson1995 commented on #290
I will be working on this

[2018-04-09 00:56] redfox2045 opened #293 "Activity feature removal"
Ian and I have been doing a lot of testing and playing with the Activity feature in an attempt to write test code for it, only to discover it is essentially unused and the single place it is used it is entirely pointless and unneeded. And given the large number of problems that arise with it (The one place it is used is to be added to requirements deep in the Module system, but even there it doesn

[2018-04-09 01:18] redfox2045 opened #294 "Design Flaw: Hours option on form"
On both the Requirement and Activity pop out windows there is a text box for Quantity and a select menu to set the quantity type. On both of these windows "Hours" is a selected quantity type despite the fact that both have a required Duration in hours variable already. This means that you can store contradictory and redundant information with that option. It would be much better for both 3NF stand

[2018-04-09 02:16] Terrillc13 commented on #16
I figured out a way to apply effects to the images to make them appear a different color. I only made the toolbar, toolbar text, and toolbar icons themeable thus far. However, others could take the approach I used to make the hamburger menu and main content themeable. The only issue is that the main content has a lot of text within it. The fxml may need to be reworked to where text inherits a sing

[2018-04-09 02:31] rsanchez-wsu commented on #293
Thanks for the thorough analysis.

[2018-04-19 10:44] #134 closed

[2018-04-24 01:28] #287 closed

[2018-04-24 01:30] #265 closed

[2018-09-07 13:00] AndrewVaughn opened #301 "Design Consideration."
The salutation input on the create new account screen does not allow for punctuation. My initial thought is that this program should follow conventional grammar rules. This should be a team discussion.

[2018-09-07 14:11] AndrewVaughn opened #302 "Design Flaw: security issue"
New Account screen allows identical UID's to be entered by two different users. This could lead to a security issue. Since we use UID's as a unique identifier I believe this should not happen.
I added two new user's, different name, but the same UID and they were accepted and saved.
There should be code written to compare new UID's with existing UID's.

[2018-09-07 14:16] wkiger opened #303 "JavaFX Error Message after quitting program with nothing entered at first use"
Upon first launch of the program, the user should be able to immediately quit the program without receiving a JavaFX error message allerting them:

<img width="357" alt="screen shot 2018-09-07 at 9 51 40 am" src="https://user-images.githubusercontent.com/23282379/45222913-c62b8180-b283-11e8-8b2e-c644b88ec15a.png">

This error message is triggered the exception handling at line 124 in the UiManager

[2018-09-07 14:24] AndrewVaughn opened #304 "Documentation: How to set up a profile"
As I used this planner to set up a profile, I found 0 documentation to assist with this task. The only help I found was on the Website. Its only advise was download the program, click on RaiderPlanner.git and go.
There should be full documentation on how to properly and easily use this program.
This could be accomplished by linking instructions to the website or the help header on the navigation m

[2018-09-07 17:40] j-m-shaw opened #305 "Add ability to remove task types from list"
There is currently no way in which to remove the custom tasks types that can be assigned to an added task. There is a pop up box that prompts the user to confirm that they want to add the task type to the list, but the reality is that users are going to make mistakes on what they add no matter how many times you ask them to confirm.
Users should be able to remove task types so that they don't end

[2018-09-07 22:52] gbdodds opened #306 "More informative error reporting"
For the user, the errors are not specific to show what went wrong.
For example, when attempting to create a new profile, the window opens to save the .dat file. Whenever I attempt to save a file I get an error message stating "Failed to load file"
Since I was supposed to be saving a file, there was no given indication that anything would be loading.
What file was it trying to load? Was the issue a

[2018-09-08 02:40] Neon-Skyfire opened #307 "MainController.java missing documentation"
I was getting some errors when I tried to make a save file and I tracked the error to the loadfile method in the MainController.java file in the controller package.  This method has a bunch of different catch statements with only a short and in some cases vague error message for each.  I think these should have at least a little documentation explaining the purpose of each catch statement so it is

[2018-09-08 14:42] avolt1234 opened #308 "Main UI optional name consideration"
On the main UI it allows a user to omit using a name when initially setting up the planner. I think that it should be mandatory to input a name for the user. In the StudyProfileController class it gathers the profile name using profile.getName() during initialization. If a user fails to input a name during the initial setup then the name of the profile will be a blank string. If multiple people fa

[2018-09-08 19:26] logankrause16 opened #309 "Static Method Should be Accessed in Static way"
In the Controllers/MainController.java file in the initialise() method (which is spelled incorrectly) calls the getSavesFolder() by doing: MainController.ui.getSavesFolder(). It should be called in a static way.

`File[] files = MainController.ui.getSavesFolder().listFiles();`
INTO
`File[] files = UiManager.getSavesFolder().listFiles();`

[2018-09-08 19:47] speggy opened #310 "Removal of Unused Imports in MenuController.java"
Removing all of the unused imports would eliminate several warnings.
Imports on lines: 28, 29, 31, 41, 114, 115, 62, 73, 89, 108.

[2018-09-09 05:47] Spunspin opened #311 "Sign in: Failed to load file - Bug"
Issue #263 removed the startup screen that asked users to create a new profile or open an existing one. In doing so it has introduced a bug that prevents new users from creating save data and thus they are unable to use the application. Some of the knock-on effects of this have been referenced in issues #303 and #306. Fixing this problem is crucial so that new users may interact with the applicati

[2018-09-09 13:43] adamarthurcone opened #312 "Implement test case for void setUp() in class MainControllerTest"
The function for this test case exists but it is empty and has not currently been implemented.

public class MainControllerTest {
	/**
	 * WIP: This test case should contain data and fields to set up further test cases.
	 * @throws Exception to handle anything that may cause this method to fail.
	 */
	@BeforeEach
	public void setUp() throws Exception {
            // ADD TEST CODE HERE
	}
........

[2018-09-09 15:50] D-B-Cooper opened #313 "New Requirement's "Ok" button unlocks, even with errors in fields."
When Creating a new requirement, if the fields are filled out wrong, the ok button will still unlock. It will not allow users to save the information, however it also does not provide an explanation as to why the fields are wrong.
In order for this issue to be resolved, the "OK" button should not be unlocked until all information entered has been verified. Also, when an incorrect entry has been ma

[2018-09-09 17:46] CourtneyFlood opened #314 "Potential Account Creation Security Risk"
When the user creates a New Profile within the application,
![image](https://user-images.githubusercontent.com/42811180/45267058-68d63280-b433-11e8-8d92-01cf740312db.png)
the warning message states "SamplePlanner.dat already exists. Do you want to replace it?"
![image](https://user-images.githubusercontent.com/42811180/45267068-a33fcf80-b433-11e8-8cb8-f9c65f4da8f8.png)
Which works just fine, howev

[2018-09-09 18:19] hippytech127 opened #315 "Adding content to the Student Dashboard for new users"
Before a user puts classes and assignments their dashboard is fairly blank, with only a welcome message in the corner. since this is one of the first things a user sees, it is a detriment to the project as a whole. This could be corrected by adding a guide with text and graphics detailing how to use each of the features available in raider planner and directing users to each of them. this can be m

[2018-09-09 18:23] CMorgan272 opened #316 "Create Account Name/Salutation Issue"
When creating an account for the first time both the Salutation and Full name fields allow a user to input as many characters as they want with no limit. This can result in some Very Large names and salutations. One problem with allowing this is that on the dashboard if the name is too long it will just trail off the page. Along with that anytime throughout the application were the name is used it

[2018-09-09 19:38] iWinfrey opened #317 "Initial Startup Issues"
Upon running the program, there were some issues with the UI. For the text fields, even though each one tells what information needs to be filled in, it doesn't entirely help that it goes away as you're typing. It would help if users would be able to see what field needs to be filled in outside of each of the text fields. Sometimes people could forget what information needs to be filled in as they

[2018-09-09 21:08] mikeknows opened #318 "Design: Implement Hotkey Functionality"
**Current Noticed Issues:**
When testing the program I noticed the inability to press enter when the submit button is focused or from a text field on the log-in screen.

**Immediate Fixes:**
Change the submit buttons and the user text field on the log in screen to include accepting enter as an input when in focus.

**Future Possibilities:**
Create a hotkey controller class implementing event handl

[2018-09-09 21:18] adhithan96 opened #319 "Syncing with Pilot"
Currently the RaiderPlanner depends on manual input from the user for making the calendar and providing information. If there was a way to sync with pilot to get the data automatically. The students won't be required to manually input the information to RaiderPlanner. Since it also updates automatically, students will also be able to stay on top of the tasks they have.

[2018-09-09 21:31] yousif92 opened #320 "Multiple account sync"
I think one of the issues of this application is not having the ability to sync and talk to different services that people use on the daily basis. Services like Google calendar or Microsoft outlook. It would be convenient for users to have the services they use in one place. For example, a user could add a calendar event on his/her phone to their Gmail account. so instead of having to go add the e

[2018-09-09 21:38] tbugaj444 opened #321 "Clickable Menu Icons"
The Side menu bar provides functionality, but most websites/ apps that we visit allows users to click on any icons that link to other parts of the webpage/ application.  This could be a simple enhancement to provide a better workflow for our users. This would likely take a few adjustments in MainMenu.fxml

[2018-09-09 21:40] jwilliamsrapper opened #322 "Unable to Add Task to Planner"
I ran the planner application and the tried to test adding a task but it did not work. Even after I created an account the add task or to better put it the "+" button still did not work/unlock.

Steps that lead to bug
 - Run program from Main.java file
 - Create new account
 - Click The "+" to attempt to add new task
![image](https://user-images.githubusercontent.com/32585789/45314317-65a87880-b4f

[2018-09-09 22:14] dhoward2305 opened #323 "Notification Icon Performance"
I noticed that when the user has a notification, it is the same color as the mail icon. A change of color would help notify users of any new notifications that they may have. I also noticed that when you check your notifications, the time is always just the hour. So maybe adding minutes to when the notification occurred would help as well. These issues could be fixed by updating the color on the n

[2018-09-09 22:32] gagegage926 opened #324 "Create Account: Error on exit"
While on the create account window if a user decides to not go on further with the creation of there account, and uses the provided quit or the default close application button on windows an exception is thrown in UiManger.java -> createAccount().  A pop up is then generated alerting the user MainMenu.fxml does not exist.

![errorgui](https://user-images.githubusercontent.com/5930101/45269562-2b3a

[2018-09-09 23:01] rsanchez-wsu commented on #303
@wkiger How did you launch the application that you encountered this error dialog?

[2018-09-09 23:04] rsanchez-wsu commented on #301
@AndrewVaughn I agree.  Could you search through the issue history to confirm that we did not already have this discussion?  If so, please mention the issue here so that they are linked.  Whether or not we have previously had this discussion, could you describe some examples of what you consider to be valid and invalid input?

[2018-09-09 23:08] rsanchez-wsu commented on #302
So, the the correct action to take on this is impacted by the approach to the database implementation that we will take.  There are several database-related issues already open (like #12 and its relatives).  For the moment I am not going to mark this as a bug, but that may change depending on the results of further analysis on the matter.

[2018-09-09 23:11] rsanchez-wsu commented on #304
Yes, please!  We desperately need to improve the application documentation.

[2018-09-09 23:35] rsanchez-wsu commented on #308
@avolt1234 I am not convinced that mandating the name is the right solution.  If you look at issue #27 you can see that I would like to eventually make it possible to deploy a multi-user version in a web environment.  The requirement for something like that would be that each user be uniquely identifiable.  The user ID can serve that purpose and since we have chosen to use the w-number, we can ass

[2018-09-09 23:45] westfall123 opened #325 "Unable to create a new account"
When first loading the application without a saved account the user is prompted to create a new account.  After inputting information and clicking okay the user is then prompted to save their .dat file so the RaiderPlanner can access it in the future.  Once clicked the program closes and the user is given a popup that says "unable to load file".

![capture](https://user-images.githubusercontent.co

[2018-09-09 23:48] rsanchez-wsu commented on #311
@Spunspin Fantastic issue write up.  Thanks for capturing this.

[2018-09-10 00:16] rsanchez-wsu commented on #313
@D-B-Cooper I agree that if the OK button is going to be enabled/disabled depending on the validity of the input that it should only enable when the input is actually valid. Do you have an idea/suggestion for how to give the user feedback on the bad input?

[2018-09-10 00:31] markried opened #326 "Add Graduation Planner Feature"
Add a graduation planner that would allow users to track the required courses still needed for graduation.
This would be added with an icon to the slide out menu in the feature section.
This could be split into multiple parts GUI, Input, Output, Import

Features would include
-Import the classes that are already taken (already added to Raider Planner)
-Allow for a degree to be set up based off deg

[2018-09-10 00:50] RichardSimmons opened #327 "Add a Dedicated Help Page"
Currently the help button redirects the user to the home page of the Raider Planner website. I propose creating  a help tab on the Raider Planner website to better help the user understand the program.
![raiderplannerhelp](https://user-images.githubusercontent.com/9275322/45271071-ecaf0f80-b471-11e8-9233-b62feaeb638a.png)

[2018-09-10 00:52] dhatton19 opened #328 "Application Closes on Failure to Load File Error"
When the user is prompted to load in (create) a new file, There will be a failure to load file error. The application will then close after closing the error. I think that it would be convenient to the user if the app would jump back to the file selection window. This will allow users to not have to recreate their account every time there is a file error; or if they accidentally used the wrong fil

[2018-09-10 00:52] rsanchez-wsu commented on #316
Yeah.  This definitely requires a discussion.

[2018-09-10 00:59] rsanchez-wsu commented on #317
These are some interesting suggestions.  I see some overlap with other issues, so make sure that we are not duplicating effort as we work on this.

[2018-09-10 01:01] rsanchez-wsu commented on #318
Excellent idea.

[2018-09-10 01:01] wkiger commented on #303
@rsanchez-wsu I launched the program from main and immediately exited the program with the exit button in the pane.  That was what triggered the error pane.  At that point, I had entered no information into the program.

[2018-09-10 01:05] rsanchez-wsu commented on #322
This issue lacks sufficient detail to be useful.  It sounds like you are describing buggy behavior, in which case a list of clear and unambiguous steps to reproduce would be necessary.  Annotated screen shots would also help.

[2018-09-10 01:07] impium opened #329 "Being able to start without functionality"
Currently if you run the project as it is and cancel out of the file select screen show below
<img width="584" alt="8a58f59f64d44b67341e6c78b0a436c2" src="https://user-images.githubusercontent.com/22554507/45271303-f33e8680-b473-11e8-90c4-a87e7d390183.png">
You have zero functionality of the dashboard. The only buttons that work are calendar and notifications. If you click on calendar then you can

[2018-09-10 01:08] rsanchez-wsu commented on #323
Both of these items seem like candidates for configuration options.  This would relate to #14.

[2018-09-10 01:18] logankrause16 opened #330 "Exception Class - More User Friendly Error Messages keeping track of Errors"
It would be a lot more helpful to not only the users, but developers to make an Exception class that handles error messages and displays friendly more direct messages to users instead of just throw catch statements.

In developing an Exception class, we can write specific issues to a database table to keep track of errors that are thrown not only when the app is local, but live as well to keep tra

[2018-09-10 01:31] rsanchez-wsu commented on #324
This looks like a dupe of #303.  However, that additional information provided by the stack trace is useful.  Please review #303, add anything from this issue that is not already in that issue, and then close this issue.

[2018-09-10 01:41] rsanchez-wsu commented on #319
This issue is quite vague and there is a tremendous amount of functionality and detail that needs to be analyzed and designed in order to take this from idea to something that can be implemented.  I would like to see some suggestions on what items you think might be worthwhile to extract from Pilot and where they might fit into RaiderPlanner.  From there, we need to investigate some possibilities

[2018-09-10 02:03] speggy opened #331 "New Feature: A More Detailed Dashboard with Glancable Data"
My Idea is to add items like the time and date to the main page that the user is greeted with when they load in their file. Along with this, add a section that displays the users next tasks in order of the time they are due that day. Perhaps add a button to quick-complete the tasks.

I would also like to add more information about the user. I don't know all that is included in the user data file,

[2018-09-10 02:06] rsanchez-wsu commented on #320
This is an interesting idea.  To keep it manageable, we should decide on one or two services to start with and focus on those.  We should also consider some sort of abstract layer that might help make the interactions with various services more modular.

[2018-09-10 02:08] rsanchez-wsu commented on #326
Wow!  Nice idea and fantastic issue write up.

[2018-09-10 02:10] rsanchez-wsu commented on #327
Good idea.  However, this needs quite a bit more detail to make it something that can be implemented.  Could you suggest some topics that should be included in the new help section?

[2018-09-10 02:29] rsanchez-wsu commented on #328
This relates to #306 and #307.

[2018-09-10 02:32] rsanchez-wsu commented on #314
Interesting.  As we move away from the .dat file (#12) this may not be an issue any longer.  However, I will leave it open for now to allow for a more detailed analysis as the transition to a database-driven architecture progresses.

[2018-09-10 02:39] GGanris opened #332 "Design: New screen with choice of login or create account option at start."
Right now when you first start up the program the first screen you see is:
![image](https://user-images.githubusercontent.com/32489945/45273443-c80e6400-b480-11e8-9709-ad500ba49cfb.png)

Instead of automatically starting with a Create Account screen, it would start with a smaller box with the option to login with an existing account or selecting Create Account which would then have the above windo

[2018-09-10 02:40] rsanchez-wsu commented on #303
Did you launch through Eclipse or via `gradle run`?

[2018-09-10 02:49] rsanchez-wsu commented on #332
I seem to recall that the application previously worked like this.  It might be worthwhile to include reviewing the project history as part of this issue, as it may be a matter of reverting a few commits or restoring some code that was removed.

[2018-09-10 02:52] jyancey234 opened #333 "Clean Up Testing Classes"
Many of the test functions are labelled as WIP. Going through and finding those that are complete and test working features and labelling them as such, would assist in cleaning up code comments and create a sort of checklist within the test functions, to track personal progress.

[2018-09-10 03:05] adhithan96 commented on #319
I believe, If we are able to extract the homework, quiz, projects and exam schedule and due dates. It will greatly help the RaiderPlanner becoming a very crucial app for students.

[2018-09-10 14:37] D-B-Cooper commented on #313
@rsanchez-wsu There seems to be enough space underneath the two boxes to have a small, meaningful error message if the user leaves an incorrect response/format in a box. This would be a discussion for the team, as (for the sake of consistency) the same format should be applied to any similar user input.

[2018-09-10 14:54] wkiger commented on #303
I launched the program through Eclipse.

[2018-09-11 11:27] rsanchez-wsu commented on #322
Thanks for editing the writeup and adding some more detail.  That is very helpful.

[2018-09-11 11:29] rsanchez-wsu commented on #313
That would work.  However, since we already have the red highlight, another possibility would be to add a tool tip indicating the problem with the input.

[2018-09-11 13:29] gagegage926 commented on #303
Picture of the stack trace for reference

![45269567-50c7d880-b45e-11e8-8972-ad2d3fd44199](https://user-images.githubusercontent.com/5930101/45363268-1452c480-b5a5-11e8-88f7-3de0b2461255.PNG)

[2018-09-11 13:30] #324 closed

[2018-09-11 21:04] markried commented on #326
I will work on this

[2018-09-13 22:02] #309 closed

[2018-09-13 22:02] #310 closed

[2018-09-14 13:36] AndrewVaughn commented on #304
I will work on this

[2018-09-16 02:51] mikeknows commented on #311
Group1 is working on this.

[2018-09-17 14:11] CourtneyFlood opened #336 "UML Diagrams"
For ease of use and development of our program, UML Diagrams would be an invaluable source of information. This will be helpful for organizing large projects.

[2018-09-18 20:59] CMorgan272 commented on #327
I would like to take on this issue. Currently in the Final Documents folder of RaiderPlanner there is a User Manual pdf
[User Manual.pdf](https://github.com/rsanchez-wsu/RaiderPlanner/files/2394491/User.Manual.pdf)
 that is out of date and still has the PearPlanner information I would like to update this to RaiderPlanner and add it to the https://rsanchez-wsu.github.io/RaiderPlanner/index.html as

[2018-09-18 23:46] RichardSimmons commented on #327
If you provide a more detailed "How-to" guide with the program. I can provide a more general overview of the features and some frequently asked questions about the program that can be added as a separate page on the website or combined with the User Manual pdf.

[2018-09-19 19:11] tbugaj444 commented on #332
I'm pretty sure that it checks for an existing .dat file before it prompts for a new account. if it doesn't find anything locally then you get this screen

[2018-09-20 18:03] Neon-Skyfire commented on #294
Ill look into this

[2018-09-20 20:14] tbugaj444 commented on #325
Haden westfall and Tyler Bugaj will claim this guy.
team patriot

[2018-09-21 05:47] rsanchez-wsu commented on #303
@gagegage926 that is helpful.  However, in the future, it is better to paste the text instead of an image.

[2018-09-21 05:53] rsanchez-wsu commented on #329
@impium you identify a clear defect, but your description of where to go from there is quite vague.  Please consider detailing what specific functionality should be on the dashboard even without a profile being loaded.

[2018-09-21 05:58] rsanchez-wsu commented on #321
@tbugaj444 I generally agree that the interface should be more usable, but it is difficult to evaluate what you are suggesting.  You are going to need to be more detailed.

[2018-09-21 06:03] rsanchez-wsu commented on #336
@CourtneyFlood this is a good idea.  I know it is getting close to the due date, but could you look at the possibility of automating the generation of the diagrams with one of the available tools?  That would allow us to easily keep them up to date and perhaps even make publishing them to the website part of the normal build process.

[2018-09-21 06:09] rsanchez-wsu commented on #327
@RichardSimmons That sounds good.

[2018-09-21 15:41] tbugaj444 commented on #321
@rsanchez-wsu specifically I am talking about the size of the "clickable" field in the side menu.  Currently Users must click directly on the tiny text of the desired page in order to change screens. All I am proposing is that we extend this field to include the texts partnering Icon. This can improve user friendliness and may be helpful for any touch screen Computers.

[2018-09-21 18:38] markried opened #338 "Graduation Planner GUI"
Create the GUI for the graduation planner explained in #326.

[2018-09-22 21:39] adamarthurcone opened #339 "Create getter and setter unit tests for Room class (RoomTest.java)"
I, Adam Cone, claim this issue.

[2018-09-22 23:32] westfall123 commented on #325
Sorry this issue has already been fixed and we are just waiting on the pull request.

[2018-09-23 02:45] markried commented on #338
Got it

[2018-09-23 03:28] dhatton19 commented on #328
I will work on fixing this issue.

[2018-09-23 18:16] GGanris commented on #303
I'll work on this.

[2018-09-23 20:10] mikeknows opened #348 "Spotbugs(formerly findbugs) Access Rules for JavaFX"
Attempted to implement Shenmon's Javafx-gradle plugin but experienced a travis build failure. The plugin is fairly old: https://bitbucket.org/shemnon/javafx-gradle/
This allowed spotbugs to work but caused a build failure in the gradle wrapper on 4.10.2 and failed the travis build with gradle version 4.1.

Another plugin I've found: https://github.com/javafx-maven-plugin/javafx-maven-plugin info h

[2018-09-27 22:15] CMorgan272 commented on #229
I would like to take a look at this.

[2018-10-05 13:30] #305 closed

[2018-10-05 13:43] #339 closed

[2018-10-05 13:54] #313 closed

[2018-10-05 13:59] rsanchez-wsu commented on #327
The pull request I just merged closes this issue.

[2018-10-05 13:59] #327 closed

[2018-10-06 13:10] #330 closed

[2018-10-07 04:02] rsanchez-wsu commented on #321
That sounds like a good idea.

[2018-10-07 04:49] rsanchez-wsu commented on #229
@CMorgan272 Note that the description of this issue needs to be improved (along with that of #243) to be sufficiently detailed and to meet the criteria of a good issue write up before making the change.

[2018-10-09 18:47] mikeknows opened #362 "Study Profile Page Remove Dialog and Replace"
<img width="736" alt="issue" src="https://user-images.githubusercontent.com/10665041/46691095-0a3ada80-cbd2-11e8-9388-09b6c2584e9c.png">
<b>Problem</b>

The dialog is unnecessary and there are no directions as to how to bring the dialog menu up, the average user may be unaware that it's necessary to double-click on the profile name

<b>Solution</b>
When highlighted with left-click, display the 'se

[2018-10-09 18:52] mikeknows commented on #362
Group1 will work on this.

[2018-10-13 14:41] #311 closed

[2018-10-13 15:14] #303 closed

[2018-10-13 16:17] rsanchez-wsu commented on #229
@CMorgan272 That sounds good.

[2018-10-13 16:18] rsanchez-wsu commented on #362
@mikeknows I like this idea.  Make sure that there is sufficient work to be done given the size of the team.

[2018-10-14 21:50] CMorgan272 commented on #318
I would like to take a look at the immediate fixes for this issue.

[2018-10-15 15:59] adhithan96 opened #364 "Proposal for creating a News section for the RaiderPlanner webpage"
Currently RaiderPlanner website has many features to help the users. But it is missing a news section. We believe it is vital for any application to have a news section, so the users can stay up to date on any information related to the application.

After every major merges to the RaiderPlanner. We can update the news section to let users know the changes done to the program. Users will be able t

[2018-10-16 16:32] adamarthurcone opened #365 "Currently no unit test code coverage for the Note.java model"
There is currently no code coverage for the Note.java model.  Implement adequate unit tests to validate existing functions in Note.java.  Unit testing functions for correctness is critical to software deployment process.  The resolution of this issue would improve confidence in the program as a whole.

The following functions should be tested:
getTitle
getTimeStamp
getText
setTitle
setTimeStamp
se

[2018-10-16 16:33] adamarthurcone commented on #365
I, Adam Cone, claim this issue for project 2 of CEG 3120.

[2018-10-16 21:43] j-m-shaw commented on #318
@avolt1234 and I are also wanting to look into this issue. We've got submit and quit responding to key presses, I'll shoot you a message on slack with further details.

[2018-10-17 00:50] impium opened #367 "There is little java doc"
A lot of classes do not have any java doc that would help with making the code understandable.

[2018-10-17 11:30] rsanchez-wsu commented on #364
@adhithan96 This might make sense for a project that has made a production release.  However, we are still in very active development and a news section would not be useful since we have no users as yet.  I would like to defer action on this until after there is at least a 1.0 release.

[2018-10-17 12:01] #365 closed

[2018-10-17 12:12] rsanchez-wsu commented on #367
@impium I need for you to modify this issue in one of two ways:

1. Make it an umbrella issue to cover the JavaDoc improvements needed across the entire code base and under which more specific issues targeted at improving JavaDoc in specific parts of the system will be tracked
1. Make it a specific issue that will drive JavaDoc improvement for a particular part of the system

If you choose the fir

[2018-10-17 12:14] rsanchez-wsu commented on #348
@mikeknows that sounds to me like we just need to specify to SpotBugs where the JavaFX .class files live.  I will try to take a look at this as well.

[2018-10-17 13:07] yousif1992 opened #369 "UML diagrams?"
I'm thinking of having a development tab on the website that provides anyone who would like to be involved in the development of the application with the UML diagrams to look at. I think having UML diagrams is very beneficial for developers and a good reference.

[2018-10-17 13:20] rsanchez-wsu commented on #369
@yousif1992  Developer documentation is definitely a good thing.  However, the place for that is on GitHub (in the wiki, specifically), rather than on the project website.  Also, please note that @impium and @CourtneyFlood have already created some UML diagrams and are working on getting those into the repository.  They also have an associated wiki page.  If you are interested in pursuing this, I

[2018-10-17 13:20] rsanchez-wsu commented on #369
The other existing issue is #336.  Also, the title of this issue needs to be more descriptive.

[2018-10-17 21:54] tbugaj444 commented on #290
team patriot on it(Westfall and Bugaj). i assume @Watson1995 is no longer working here

[2018-10-18 00:01] adhithan96 opened #371 "New user interface for the RaiderPlanner web page"
Raider Planner web page has some great content related to the application. A quality web page is a great way to attract users to try our application. But our current web page looks and feels outdated. We want to give a fresh look and a modern feel to it. We are going to implement a clean, well-organized, concise and easy to navigate web page.

[2018-10-18 00:06] yousif1992 commented on #371
will be working on it

[2018-10-18 00:38] CMorgan272 opened #372 "Chat feature: Name input change"
When using the chat feature it asks the user for "Your Name" which can be any input and then asks the user for the "Host User Name" which can be any input. I believe that the end goal of this feature is to allow peer to peer chat between users of RaiderPlanner on the same network or through a web based design. The issue I am addressing arises with the fact that when a user creates their account th

[2018-10-18 00:38] CMorgan272 commented on #372
I would like to work on this.

[2018-10-18 01:32] rsanchez-wsu commented on #372
This sounds like a good idea.

[2018-10-18 01:34] rsanchez-wsu commented on #371
@adhithan96 @yousif1992 In principle this is a good idea.  However, I would like a much more detailed description that covers the current deficiencies and how you plan to address them.  Also note that you will need to enable GitHub Pages in your fork to be able to view the site content you are creating in the same way that users will see it on the project site.

[2018-10-18 04:41] rsanchez-wsu commented on #290
That is a safe assumption.

[2018-10-18 04:48] rsanchez-wsu commented on #371
I am curious how you think the design is not modern.  It certainly fits the general trend I have observed in many websites that have undergone modernization.  Still, you are being very vague with your description.  Please review the `CONTRIBUTING.md` document and consider what it says about what constitutes a valid issue.  In particular, the issue description should be sufficiently detailed that a

[2018-10-18 16:19] yousif1992 commented on #371
@rsanchez-wsu @adhithan96
Since the average user attention span is about four seconds, it's vital to have an eye-catching design. To keep the user hooked to the site by having more subtle animations and more graphics that support, merging some tabs.  Our idea regarding displayed the user manual, is to either be displayed on the website itself, sort of like the pilot webpage or to be displayed in a

[2018-10-18 20:49] jyancey234 opened #373 "On-Screen Help Instructions"
While having a detailed user manual is helpful, I see no reason not to have on-screen instructions to guide the user in using the features presented to them. There is a lot of empty real estate within the UI and navigating through the program is not as intuitive as maybe it should be. With additional text instructions, the user can navigate through the menus and learn what the difference between a

[2018-10-18 20:49] jyancey234 commented on #373
We will take care of this issue.

[2018-10-18 22:06] logankrause16 opened #374 "Exception Class - Implementation"
The exception class exists, but is not being implemented.

[2018-10-19 03:37] GGanris commented on #322
I will work on this.

[2018-10-19 22:59] D-B-Cooper opened #376 "Useful feedback for errors. ToolTip implementation."
Currently there is very little feedback to users about what invalid entries they make. In the example attached, @gagegage926 and I added a simple tool tip to the error, so that the user knows how to fix it. Currently, most pages only have the red border around the input field.

Solution:
Any aesthetically pleasing way to give the user feedback about incorrect entry.

![tooltip](https://user-images